#!/usr/bin/make -f

export DH_COMPAT=5

build:
	pwd

clean:
	dh_testdir
	dh_testroot
	dh_clean -d

install:
	pwd
	dh_install

binary-indep: build install
	dh_installchangelogs
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
	pwd

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
