
/* Styles specific to the attributes.php page */

#attrForm { font-size: 8pt; }

#helpLinks A {
 margin-left: 2em;
 margin-right: 2em;
}

#nodeAttrTable { background-color: #F9F9F9; }

.colHeaders {
	font-weight: bold;
	text-align: center;
	background: #D8E8FF;
}

/* the alternating rows of the table */
.ListLine0 { background: #EFF6FF; /*#e0f8f8;*/ }
.ListLine1 { background: #D8E8FF; /*#b0f8f8;*/ }

.edit {
	background: #8f8f0b;
}
