
/* Styles specific to the Discover page. */

#wizardPane H3 {
 margin-top: 20px;
 margin-bottom: 2px;
}

P#wizardDone {font-weight : bold; }

.WizardProgressTable {
 margin: 10px 0px;
 text-align: left;
}

.WizardProgressTable UL { list-style-type: none; }

.WizardProgressTable LI {
 /* list-style-image: url('../images/checked-box.gif'); */
 margin-top: 1em;
 margin-bottom: 1em;
}

.WizardProgressTable IMG { margin-right: 1em; }

.WizardListTable {
 margin: 10px 0px;
 text-align: left;
}

.WizardListTable LI {
 margin-top: 1em;
 margin-bottom: 1em;
}

/* this did not work in IE...
.DivTable {
 display: table;
 text-align: left;
}
*/