
/* Styles specific to the frames.php page */

.AllRacksTable { padding-top: 10px; }

.RackTable {
 background-color: #303030;
 border: 2px solid #303030;
}

.RackTable TD {
 white-space: nowrap;
 font-size: 1px;
}

.RackTable IMG { vertical-align: baseline; }

.RackEmptyCell { background-color: #999999; }

