
/* Styles specific to the groups.php page */

#nodetabs {
    /* float: left; */
    margin-left: 10px;
    /* right: 0;
    clear: left;
	font-size : 8pt; */
}

#nodetabs-a {
	font-size : 8pt;
	padding: 0.5em 0.5em;
}

#nodetabs-a-disabled {
	font-size : 8pt;
	padding: 0.5em 0.5em;
	color: #BFBFBF;
}

/*
#nodepane: { float: left;  clear: left; }
#nodetabs { float: left; }
*/

#nrtree {
    /* float: left; */
    /* clear: left; */
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    margin-right: 10px;
    padding-top: 5px;
    padding-right: 5px;
    /* height:100%; */
    /* width:9.5em; */
}

/* #placeHolder { clear: left; } */

/* .ui-tabs-hide { display: none; } */