Source: xcat-test
Section: admin
Priority: extra
Maintainer: xCAT <xcat-user@lists.sourceforge.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: https://xcat.org/

Package: xcat-test
Architecture: all
Depends: ${perl:Depends}
Description: xCAT automated test tool
 Provides automated test tool and buckets to help test xCAT commands
 automatically.
