[Unit]
Description=xcat service on compute node, the framework to run postbootscript and update node status 
After=network.target rsyslog.service

[Service]
Type=oneshot
ExecStart=/etc/init.d/xcatpostinit start
ExecStop=/etc/init.d/xcatpostinit stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
