ul.clickTree { 
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.clickTree li { 
	padding-left: 20px; 
}

ul.clickTree ul {
  	/*padding-left: 10px; */
	list-style: none;
}


ul.clickTree li.firstItem  {
    background: url(http://wopr.dfw.ibm.com/xcat/images/middle-line.gif) center left no-repeat;
	/*padding-left: 20px;*/
}
ul.clickTree li.lastItem  {
    background: url(http://wopr.dfw.ibm.com/xcat/images/line.gif) center left no-repeat;
	/* padding-left: 20px; */
}
ul.clickTree li.middleItem  {
    background: url(http://wopr.dfw.ibm.com/xcat/images/middle-line.gif) center left no-repeat;
	/* padding-left: 20px;*/
}
ul.clickTree .unchecked {
    background: url(http://wopr.dfw.ibm.com/xcat/images/chkbox-uncheck.gif) center left no-repeat;
	/* padding-left: 20px; */
}
ul.clickTree .checked {
    background: url(http://wopr.dfw.ibm.com/xcat/images/chkbox-check.gif) center left no-repeat;
	/* padding-left: 20px; */
}

.nodeIcon {
    background: url(http://wopr.dfw.ibm.com/xcat/images/node.gif) center left no-repeat;
	 padding-left: 20px;

}

.nodeGroupIcon {
    background: url(http://wopr.dfw.ibm.com/xcat/images/burst.gif) center left no-repeat;
	padding-left: 20px; 

}
.plus {
    background: url(http://wopr.dfw.ibm.com/xcat/images/plus.gif) center left no-repeat;
	padding-left: 20px;
	cursor: pointer;
}

.minus {
    background: url(http://wopr.dfw.ibm.com/xcat/images/minus.gif) center left no-repeat;
	padding-left: 20px;
	cursor: pointer;
	
}

/* Actually show and hide sublists */
ul.clickTree li.open ul { display: block; }
ul.clickTree li.closed ul { display: none; }
