.grid {
	background: #fff;
	border: 1px solid #eee;
	/* width: <?php echo $this->boxWidth ?>px; */
	text-align: center;
	height: 400px;
	padding: 2px 2px 2px 2px;
	margin: 2px 40px 2px 2px;

}

.offLineNode {
	background: #aaa;
	color: #444;
	width: 80px;
	height: 20px;
	margin: 2px;
	font-family: arial;
	font-size: 10px;
	text-align: center;
	overflow: hidden;
	float: left;
}

.pingableNode {
	background: #66CC99;
	color: #444;
	width: 80px;
	height: 20px;
	margin: 2px;
	font-family: arial;
	font-size: 10px;
	text-align: center;
	overflow: hidden;
	float: left;
}

.legendBox {
	padding: 2px 2px 2px 2px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 2px solid #eee;
	position: relative;
	width: 800px;
	text-align: center;
	float: left;

}
.mHead {

	font-family: arial;

}
.subBox {
	border: 1px solid #eee;
	margin-left: 20px;
	margin-right: 20px;
	width: 100px;
	height: 20px;
}

.legendDescription {
	font-size: 10px;
	font-family: arial;
	color: #999;
}
.unknown {
	background: #aaa;
	height: 20px;
	width: 40px;
}
.pingable {
	background: #66CC99;
	height: 20px;
	width: 40px;
}

.online {
	background: #6699CC;
	height: 20px;
	width: 40px;
}

/* grid stuff */
#box {
	position: relative;
	top: 50px;
	left: 20px;
}
#boxNav {
	position: relative;
	left: 0px;
	top: 100px;


}

#boxNavPrev {
	position: absolute;
	top: 75px;
	left: 5px;
	z-index: 100;
}

#boxNavNext {
	position: absolute;
	top: 75px;
	right: 5px;
	z-index: 100;
}

#boxMotionContainer {
	margin: 0pt 30px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

#boxMovingGallery {
	position: relative;
}

.boxNav {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
}

