#content .block {
	width: 400px;
	height: 350px;
	position: absolute;
	overflow: hidden;
	left: 287px;
	top: 183px;
}


#content .block h3 {
	margin: 0;
	padding: 5px;
	font-size: 14px;
	color: #fff;
	background-color: #2153AA;
}



#content .block .block-toggle {
	background-image: url('http://wopr.dfw.ibm.com/xcat/images/close2.gif');
	display: block;
	float: right;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}


#content .block .block-close {
	background-image: url('http://wopr.dfw.ibm.com/xcat/images/close2.gif');
	display: block;
	float: right;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#content .handle {
	cursor: move;

}

#content .block .block-toggle span {
	display: none;
}


#content .blockContent {
	width: 400px;
	height: 330px;
	border: 0px;
	padding: 0px;
	background: #ffffee;
	position: relative;
	border: 1px dotted #2153AA;
}

#content .blockColumn1{
	width: 200px;
	padding: 0 0 0 0;
	height: 330px;
	position: relative;
	float: left;
}


#content .blockColumn2{
	width: 200px;
	height: 330px;
	padding: 0 0 0 0;
	position: relative;
	float: left;
	left: 201px;
}


#content .blockColumnHeader {
	background: #aaa;
	width: 200px;
	margin: 0 0 0 0;
        height: 20px;
        font-weight: bold;
        font-size: 16px;
        color: #666;
	padding-left: 5px;
	text-align: center;
	position: absolute;
	bottom: 300px;
}


#content .floatPaneColumnContent1 {
	overflow-y: auto;
	width: 200px;
	height: 290px;
	position: absolute;
	bottom: 10px;
	
}

#content .floatPaneColumnContent2 {
	width: 200px;
	height: 290px;
	position: absolute;
	bottom: 10px;
}

/* Command Window */
#content .cmd {
	width: 400px;
	height: 350px;
	background: #bbb;
	position: relative;
	overflow: hidden;
	left: 30%;
	top: 40px;
}


#content .cmdLine {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0 0;
}

#content .cmdContainer {
	overflow-y: auto;
	padding: 0 0 0 0;
	width: 400px;
	height: 300px;
}

#content .ListLine0 {
	background: #e0f8f8;
	padding-left: 10px;
	width: 390px;
}
#content .ListLine1 {
	background: #b0f8f8;
	padding-left: 10px;
	width: 390px;
}

.pageScroll {
	width: 400px;
	height: 330px;
	overflow: scroll;
}
