Source: xcatsn
Section: admin
Priority: extra
Maintainer: Arif Ali <aali@ocf.co.uk>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: xcatsn
Architecture: all
Depends: ${perl:Depends}, xcat-server (>= 2.5.0), perl-xcat (>= 2.5.0), xcat-client (>= 2.5.0), libdbd-sqlite3-perl, libxml-parser-perl, atftp-xcat, conserver, yaboot-xcat, libnet-telnet-perl, dhcp3-server, apache2, expect, nfs-kernel-server, nmap, fping, bind9, vsftpd, ipmitool (>=1.8.9), xnba-undi, syslinux-xcat, syslinux
Description: Metapackage for a common, default xCAT service node setup
 xCATsn is a service node management package intended for at-scale management, including hardware management and software management.
