[Unit]
Description=Handle an xCAT credential check

[Service]
Type=oneshot
ExecStart=/usr/libexec/xcat/genesis-credential-callback
StandardInput=socket
StandardOutput=socket
StandardError=journal
