Source: xcat-nbroot-core
Section: admin
Priority: extra
Maintainer: Arif Ali <aali@ocf.co.uk>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: xcat-nbroot-core-amd64
Architecture: all
Depends: ${perl:Depends}
Description: xCAT-nbroot-core provides opensource components of the netboot image
 xcat-nbroot-core provides the xCAT scripts for the mini-root environment
 All files included are as they were downloadable on 4/7/2007

Package: xcat-nbroot-core-x86
Architecture: all
Depends: ${perl:Depends}
Description: xCAT-nbroot-core provides opensource components of the netboot image
 xcat-nbroot-core provides the xCAT scripts for the mini-root environment
 All files included are as they were downloadable on 4/7/2007

Package: xcat-nbroot-core-ppc64
Architecture: all
Depends: ${perl:Depends}, yaboot-xcat
Description: xCAT-nbroot-core provides opensource components of the netboot image
 xcat-nbroot-core provides the xCAT scripts for the mini-root environment
 All files included are as they were downloadable on 4/7/2007
