Source: xcat-genesis-scripts-amd64
Section: admin
Priority: extra
Maintainer: xCAT <xcat-user@lists.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: xcat-genesis-scripts-amd64
Architecture: all
Depends: xcat-genesis-base-amd64
Description: xCAT genesis 
	(Genesis Enhanced Netboot Environment for System Information and Servicing) is a small, embedded-like environment for xCAT's use in discovery and management actions when interaction with an OS is infeasible. This package reperesents the EPL content that is more tightly bound to specific xcat-core versions

