#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


ifneq ($(DEB_BUILD_ARCH),ppc64el)
        export TARGET_ARCH=x86_64
else
        export TARGET_ARCH=ppc64
endif
export installdir=/opt/xcat/share/xcat/netboot/genesis/$(TARGET_ARCH)/fs
export installtodir=opt/xcat/share/xcat/netboot/genesis/$(TARGET_ARCH)/fs

build:
	pwd

clean:
	dh_testdir
	dh_testroot
	dh_clean -d

install:
	pwd
	dh_testdir
	dh_testroot
	dh_installdirs $(installdir)
	dh_install -X".svn"
	dh_install ./etc/ $(installtodir)
	dh_install ./bin/ $(installtodir)
	dh_install ./sbin/ $(installtodir)
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-independent files here.
binary-indep: build install

binary-arch:
	pwd

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
