#
#
#  Sample stanza file used as input to the rollupdate command
#

#
#scheduler:  The job scheduler used to submit the rolling update jobs
#            Currently only LoadLeveler is supported
scheduler=loadleveler

#
#scheduser:  The userid with authority to submit scheduler jobs
#            Note:  LL does not allow jobs to be submitted by root
scheduser=lluser

#
#updategroup:  A set of nodes to be updated as a single group
#    updategroup = name(noderange)
# where "name" is the name to be assigned to the updategroup and 
# "noderange" is any valid xCAT noderange syntax (see noderange man page)
#updategroup=ns01(c4lpar201-c4lpar204)
updategroup=ns11(c4lpar211-c4lpar214)

#
#mapgroups:  Many updategroups can also be defined through a 
# single statement using nodegroup mappings.    
#    mapgroups=nodegroup_range
# Where nodegroup_range is processed in the same way xCAT handles node name
# ranges to generate a set of nodegroup names.  Each nodegroup will be
# mapped to an updategroup with the same name.
# For example, the following will create 10 updategroups from the 10
# nodegroups named block01 to block10.
#mapgroups=block[01-10]
mapgroups=lpar03-lpar04
mapgroups=lpar05

#TODO -- mutex is not supported yet.  This will be ignored! 
#mutex:  identify updategroups that are mutually exclusive and must not be 
# updated at the same time in order to maintain active resources within
# the cluster. Only 1 updategroup will be updated at a time
#    mutex=updategroup,updategroup,...
# For example, the update jobs for ns1 and for ns2 will not be allowed to run at
# the same time:
#mutex=ns1,ns2
#
# Multiple mutually exclusive sets can be specified using updategroup name 
# ranges. For example, the following:
#mutex=block[1-3]a,block[1-3]b,block[1-3]c
# would be equivalent to:
#mutex=block1a,block1b,block1a
#mutex=block2a,block2b,block2c
#mutex=block3a,block3b,block3c

#
#jobtemplate:  Scheduler job template file.  See sample LoadLeveler file for details
#   on how the template will be processed:
jobtemplate=/opt/xcat/share/xcat/rollupdate/ll.tmpl

#
#jobdir:  Directory to write the job command files to
#	  For LL, this directory needs to be on a filesystem available
#	  to all nodes
jobdir=/u/lluser/rollupdate_jobs

#
#update_if_down:  If set to "yes", also attempt the update for any node in an 
# updategroup that is down or not active/available in the scheduler
# (useful if you have nodes that are not part of your scheduler's cluster).
# If set to "no", any node in an updategroup that is not active in the 
# scheduler will be skipped.
# If set to "cancel", if any node in an updategroup is not active,
# the entire updategroup will be skipped.
update_if_down=yes
#update_if_down=no
#update_if_down=cancel

#
#TODO - Out-of-band operations are not supported yet.  This will be ignored.
#oob_op:  Out-of-band command to run on the xCAT management node once the node
# has been shutdown but before it is rebooted.
# You may specify the string $NODELIST if you would like the
# comma-delimited list of xCAT nodenames passed into your command.
# This is where we plan to support operations such as firmware updates.
#oob_op=/u/admin/bin/myfirmwareupdates $NODELIST
