[Unit]
Description=Execute the assigned xCAT Genesis action
ConditionKernelCommandLine=xcatd
Requires=xcat-genesis-register.service
After=xcat-genesis-register.service

[Service]
Type=simple
EnvironmentFile=/run/xcat/genesis.env
ExecStart=/usr/libexec/xcat/genesis-action
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
