Source: xcat-ui
Section: admin
Priority: extra
Maintainer: xCAT <xcat-user@lists.sourceforge.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4

Package: xcat-ui
Architecture: all
Depends: ${perl:Depends}, python (>= 2.3), apache2, libapache2-mod-php
Description: Provides a browser-based interface for xCAT
 Provides a browser-based interface for xCAT (extreme Cluster Administration
 Tool).
