
## beginning of all attributes from the site table

#SITE_TABLE_ALL_ATTRIBS_EXPORT#

## end of all attributes from the site table

## One variable:
## There is a complex loglic to get the value of variable, and 
## if there is one subroutine in one module, 
## mark it as the following syntax.

ENABLESSHBETWEENNODES=#Subroutine:xCAT::Template::enablesshbetweennodes:$NODE#
export ENABLESSHBETWEENNODES

## tabdump(<TABLENAME>) is used to get all the information in the <TABLENAME> table 
## The <TABLENAME> only could be non-"node key" table and two keys table, such as networks, passwd.
## And <TABLENAME> also couldn't be log related tables.
## The site table is used so frequent that the <TABLENAME> couldn't be the site table.
## And if the key is the node, you should use #TABLE...# instead of tabdump().
## And each attribute=value pair will be delimited  by "||".
## We may put special characters in the comments attribute. 
## So the comments attribute will be put as the last in the list,
## and the parsing should be more carefull.   
tabdump(networks)

NODE=$NODE
export NODE


## nfsserver,installnic,primarynic,routenames from the noderes tab
NFSSERVER=#TABLE:noderes:$NODE:nfsserver#
export NFSSERVER
INSTALLNIC=#TABLE:noderes:$NODE:installnic#
export INSTALLNIC
PRIMARYNIC=#TABLE:noderes:$NODE:primarynic#
export PRIMARYNIC

MASTER=#TABLE:noderes:$NODE:xcatmaster#
export MASTER

NODEROUTENAMES=#TABLE:noderes:$NODE:routenames#
export NODEROUTENAMES
## examples:
## NFSSERVER=9.114.34.108
## export NFSSERVER
## INSTALLNIC=mac
## export INSTALLNIC
## PRIMARYNIC=mac
## export PRIMARYNIC

## The number of the variables is uncertain. In some case, it will be blank.
## Complex logic
## The syntax will be #FLAG#.
#ROUTES_VARS_EXPORT#

## The details will be as follows or blank.
## NODEROUTENAMES=$NODE_routenames
## export NODEROUTENAMES
## ...

## osver, arch, profile export
OSVER=#TABLE:nodetype:$NODE:os#
export OSVER
ARCH=#TABLE:nodetype:$NODE:arch#
export ARCH
PROFILE=#TABLE:nodetype:$NODE:profile#
export PROFILE
PROVMETHOD=#TABLE:nodetype:$NODE:provmethod#
export PROVMETHOD


PATH=`dirname $0`:$PATH
export PATH

NODESETSTATE=#Subroutine:xCAT::Postage::getnodesetstate:$NODE#
export NODESETSTATE

UPDATENODE=0
export UPDATENODE

NTYPE=$NTYPE
export NTYPE

MACADDRESS=#TABLE:mac:$NODE:mac#
export MACADDRESS

## vlan related items. It may not be configured by the users. 
#VLAN_VARS_EXPORT#

## the details of VLAN_VARS_EXPORT will be looked like:
## VMNODE='YES'
## export VMNODE
## VLANID=vlan1...
## export VLANID 
## VLANHOSTNAME=..
## ..

## get monitoring server and other configuration data for monitoring setup on nodes
#MONITORING_VARS_EXPORT#

## the details will be looked like as follows
## MONSERVER=9.114.34.108
## export MONSERVER
## MONMASTER=9.114.34.108
## export MONMASTER

## get the osimage related variables, such as ospkgdir, ospkgs ...
#OSIMAGE_VARS_EXPORT#
## examples:
## OSPKGDIR=/install/rhels6.2/ppc64
## export OSPKGDIR
## OSPKGS='bash,nfs-utils,openssl,dhclient,kernel,openssh-server,openssh-clients,busybox,wget,rsyslog,dash,vim-minimal,ntp,rsyslog,rpm,rsync,ppc64-utils,iputils,dracut,dracut-network,e2fsprogs,bc,lsvpd,irqbalance,procps,yum'
## export OSPKGS



## get the diskless networks information. There may be no information.
#NETWORK_FOR_DISKLESS_EXPORT#

## examples of NETWORK_FOR_DISKLESS_EXPORT
## the details will be looked like:
## NETMASK=255.255.255.0
## export NETMASK
## GATEWAY=9.114.34.108
## 

# NIC related attributes for the node for confignics postscript
NICNODE=#TABLE:nics:$NODE:node#
export NICNODE

NICIPS="#TABLE:nics:$NODE:nicips#"
export NICIPS

NICHOSTNAMESUFFIXES="#TABLE:nics:$NODE:nichostnamesuffixes#"
export NICHOSTNAMESUFFIXES

NICTYPES="#TABLE:nics:$NODE:nictypes#"
export NICTYPES

NICCUSTOMSCRIPTS="#TABLE:nics:$NODE:niccustomscripts#"
export NICCUSTOMSCRIPTS

NICNETWORKS="#TABLE:nics:$NODE:nicnetworks#"
export NICNETWORKS

#NICCOMMENTS=#TABLE:nics:$NODE:comments#
#export NICCOMMENTS


##
## Notice:  The following flag postscripts-start-here could not be deleted from the template!!!
# postscripts-start-here

#INCLUDE_POSTSCRIPTS_LIST#

## Notice:  The following flag postscripts-end-here could not be deleted from the template!!!
# postscripts-end-here

## Notice:  The following flag postbootscripts-start-here could not be deleted from the template!!!
# postbootscripts-start-here

#INCLUDE_POSTBOOTSCRIPTS_LIST#

## Notice:  The following flag postbootscripts-end-here could not be deleted from the template!!!
# postbootscripts-end-here
