/* TREE LAYOUT */
.tree ul {
	margin:0 0 0 5px;
	padding:0;
	list-style-type:none;
}
.tree li {
	display:block;
	min-height:18px;
	line-height:18px;
	padding:0 0 0 15px;
	margin:0 0 0 0;
	clear:both;
}
.tree li ul {
	display:none;
	clear:both;
}
.tree li a,
.tree li span {
	display:inline;
	float:left;
	line-height:16px;
	height:16px;
	padding:1px 4px 1px 3px !important;
	color:black;
	white-space:nowrap;
	text-decoration:none;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:4px 1px; 
	-moz-border-radius:3px;
	border:0;
	margin:0;
}
.tree li a:hover, 
.tree li a.hover {
	background-color: #e7f4f9;
	border:1px solid #d8f0fa;
	padding:0px 3px 0px 2px !important;
	background-position:3px 0px; 
}
.tree li a.clicked,
.tree li a.clicked:hover,
.tree li span.clicked {
	background-color: #beebff;
	border:1px solid #99defd;
	padding:0px 3px 0px 2px !important;
	background-position:3px 0px; 
}
.tree li span.clicked {
	padding:0px 3px 0px 0px !important;
}

.tree li a input,
.tree li span input {
	margin:0;
	padding:0 0;
	display:block;
	height:12px;
	border:1px solid white;
	background:white;
	font-size:10px;
	font-family:Verdana;
}
.tree li a input:not([class="xxx"]),
.tree li span input:not([class="xxx"]) {
	padding:1px 0;
}

.locked li a {
	color:gray;
}

/* FOR DOTS */
.tree ul ul {
	background:url("images/dot.gif") 6px 1px repeat-y;
}
.tree li {
	background:url("images/li.gif") 7px center no-repeat;
}
.tree li.last {
	background:url("images/lastli.gif") 5px top no-repeat;
	background-color:white !important;
}
/* NO DOTS */
.no_dots ul ul {
	background:transparent;
}
.no_dots li {
	background:transparent;
}
.no_dots li.last {
	background:transparent;
	background-color:transparent !important;
}

/* OPEN OR CLOSE */
.tree li.open {
	background:url("images/fminus.gif") 4px 6px no-repeat;
}
.tree li.open ul {
	display:block;
	clear:both;
}
.tree li.closed {
	background:url("images/fplus.gif") 5px 5px no-repeat;
}
.tree li.closed ul {
	display:none !important;
}


/* FOR DRAGGING */
.tree #dragged {
	padding:0 3px;
	margin:0;
	background:white;
	opacity: .85;
	/* filter: alpha(opacity=85); */

	position:absolute;
	top:-10px;
	left:-10px;
}
.tree #dragged.last,
.tree #dragged:last-child {
	background:white;
}
.tree #dragged li.open {
	background:url("images/fplus.gif") 5px 5px no-repeat;
}
.tree #dragged ul ul {
	display:none;
}

/* HACKY-HACKY */
/* EXPLORER 7 */
*:first-child+html .tree li {
	margin-bottom:-2px;
} 
*:first-child+html .tree li ul {
	padding-bottom:2px;
}
/* EXPLORER 6 */
.tree li {
	_width:50%;
	_margin-bottom:-2px;
}
.tree li ul {
	_padding-bottom:2px;
}

/* 
 * FF & OPERA FIXES
.tree li:not([class="xxx"]) {
	margin-bottom:0px;
}
html:first-child .tree li {
	margin-bottom:0px;
}
.tree li ul:not([class="xxx"]) {
	padding-bottom:0;
}
html:first-child .tree ul {
	padding-bottom:0;
}
*/


/* RTL modification */
.rtl * {
	direction:rtl;
}
.rtl ul {
	margin:0 5px 0 0;
}
.rtl li {
	padding:0 15px 0 0;
}
.rtl li.last {
	background:url("images/lastli_rtl.gif") right top no-repeat;
}
.rtl li.open {
	background:url("images/fminus_rtl.gif") right 6px no-repeat;
}
.rtl li.closed {
	background:url("images/fplus_rtl.gif") right 4px no-repeat;
}
.rtl li a,
.rtl li span {
	float:right;
	padding:1px 3px 1px 4px !important;
	background-position:right 1px; 
	margin-right:1px;
}
.rtl li a:hover {
	background-color: #e7f4f9;
	border:1px solid #d8f0fa;
	padding:0px 3px 0px 3px !important;
	background-position:right 0px; 
	margin-right:0px;
}
.rtl li a.clicked,
.rtl li a.clicked:hover,
.rtl li span.clicked {
	background-color: #beebff;
	border:1px solid #99defd;
	padding:0px 3px 0px 3px !important;
	background-position:right 0px; 
	margin-right:0px;
}
.rtl li span.clicked {
	padding:0px 1px 0px 3px !important;
}
.rtl ul ul {
	background:url("images/dot.gif") right 1px repeat-y;
}
.rtl li {
	background:url("images/li.gif") right center no-repeat;
}
.rtl #dragged li.open {
	background-position: right 5px;
}
