<?xml version="1.0"?>
<!DOCTYPE profile SYSTEM "/usr/share/YaST2/include/autoinstall/profile.dtd">
<profile xmlns="http://www.suse.com/1.0/yast2ns" xmlns:config="http://www.suse.com/1.0/configns">
  <install>
    <bootloader>
      <write_bootloader config:type="boolean">true</write_bootloader>
      <activate config:type="boolean">true</activate>
      <kernel_parameters>#XCATVAR:PERSKCMDLINE#</kernel_parameters>
      <lba_support config:type="boolean">false</lba_support>
      <linear config:type="boolean">false</linear>
      <location>mbr</location>
    </bootloader>
    <general>
      <clock>
        <hwclock>GMT</hwclock>
        <timezone>#TABLE:site:key=timezone:value#</timezone>
      </clock>
      <keyboard>
        <keymap>english-us</keymap>
      </keyboard>
      <language>en_US</language>
      <mode>
        <confirm config:type="boolean">false</confirm>
        <forceboot config:type="boolean">false</forceboot>
        <interactive_boot config:type="boolean">false</interactive_boot>
        <reboot config:type="boolean">true</reboot>
      </mode>
      <mouse>
        <id>non</id>
      </mouse>
      <signature-handling>
         <accept_non_trusted_gpg_key config:type="boolean">true</accept_non_trusted_gpg_key>
         <accept_unknown_gpg_key config:type="boolean">true</accept_unknown_gpg_key>
         <accept_unsigned_file config:type="boolean">true</accept_unsigned_file>
      </signature-handling>
    </general>
    <partitioning config:type="list">
      <!-- XCAT-PARTITION-START -->
      <drive>
        <device>XCATPARTITIONHOOK</device>
        <initialize config:type="boolean">true</initialize>
        <use>all</use>
        <partitions config:type="list">
          <partition>
            <create config:type="boolean">true</create>
            <loop_fs config:type="boolean">false</loop_fs>
            <mountby config:type="symbol">device</mountby>
            <partition_id config:type="integer">65</partition_id>
            <partition_nr config:type="integer">1</partition_nr>
            <resize config:type="boolean">false</resize>
            <size>8225280</size>
          </partition>
          <partition>
            <create config:type="boolean">true</create>
            <crypt_fs config:type="boolean">false</crypt_fs>
            <filesystem config:type="symbol">swap</filesystem>
            <format config:type="boolean">true</format>
            <loop_fs config:type="boolean">false</loop_fs>
            <mount>swap</mount>
            <mountby config:type="symbol">uuid</mountby>
            <partition_id config:type="integer">130</partition_id>
            <partition_nr config:type="integer">2</partition_nr>
            <resize config:type="boolean">false</resize>
            <size>auto</size>
          </partition>
          <partition>
            <create config:type="boolean">true</create>
            <crypt_fs config:type="boolean">false</crypt_fs>
            <filesystem config:type="symbol">btrfs</filesystem>
            <format config:type="boolean">true</format>
            <loop_fs config:type="boolean">false</loop_fs>
            <mount>/</mount>
            <mountby config:type="symbol">uuid</mountby>
            <partition_id config:type="integer">131</partition_id>
            <partition_nr config:type="integer">3</partition_nr>
            <size>100%</size>
          </partition>
        </partitions>
      </drive>
      <!-- XCAT-PARTITION-END -->
    </partitioning>
    <software>
      <patterns config:type="list">
        #INCLUDE_DEFAULT_PTRNLIST_S#
      </patterns>
      <packages config:type="list">
    	#INCLUDE_DEFAULT_PKGLIST_S#
      </packages>
    </software>
  </install>
  <configure>
    <users config:type="list">
      <user>
        <username>root</username>
        <user_password>#CRYPT:passwd:key=system,username=root:password#</user_password>
        <encrypted config:type="boolean">true</encrypted>
        <forename/>
        <surname/>
      </user>
    </users>
    <networking>
      <dns>
        <dhcp_hostname config:type="boolean">true</dhcp_hostname>
        <dhcp_resolv config:type="boolean">true</dhcp_resolv>
        <domain>local</domain>
        <hostname>linux</hostname>
      </dns>
      <interfaces config:type="list">
        <interface>
          <bootproto>dhcp</bootproto>
          <device>eth0</device>
          <startmode>onboot</startmode>
        </interface>
      </interfaces>
      <routing>
        <ip_forward config:type="boolean">false</ip_forward>
        <routes config:type="list"/>
      </routing>
    </networking>
    <scripts>
   #INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/pre.sles#
   #INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/chroot.sles#
   #INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/post.sles11#
    </scripts>
  </configure>
</profile>
