<?xml version="1.0"?>
<!DOCTYPE profile>
<profile xmlns="http://www.suse.com/1.0/yast2ns" xmlns:config="http://www.suse.com/1.0/configns">

  <!-- The dasd attached to the virtual server -->  
  <dasd>
    <devices config:type="list">
      <!-- Dasd attached at 0100 --> 
      <listentry>
        <bus>None</bus>
        <bus_hwcfg>none</bus_hwcfg>
        <channel>0.0.0100</channel>
        <dev_name>/dev/dasda</dev_name>
        <dev_names config:type="list">
          <listentry>/dev/dasda</listentry>
          <listentry>/dev/disk/by-path/ccw-0.0.0100</listentry>
        </dev_names>
        <device>DASD</device>
        <driver>io_subchannel</driver>
        <drivers config:type="list">
          <listentry>
            <active config:type="boolean">true</active>
            <modprobe config:type="boolean">true</modprobe>
            <modules config:type="list">
              <module_entry config:type="list">
                <listentry>dasd_eckd_mod</listentry>
                <listentry></listentry>
              </module_entry>
            </modules>
          </listentry>
        </drivers>
        <formatted config:type="boolean">true</formatted>
        <partition_info>/dev/dasda1 (Linux native)</partition_info>
        <resource>
          <disk_log_geo config:type="list">
            <listentry>
              <cylinders config:type="integer">3338</cylinders>
              <heads config:type="integer">15</heads>
              <sectors config:type="integer">12</sectors>
            </listentry>
          </disk_log_geo>
          <io config:type="list">
            <listentry>
              <active config:type="boolean">true</active>
              <length config:type="integer">1</length>
              <mode>rw</mode>
              <start config:type="integer">256</start>
            </listentry>
          </io>
        </resource>
        <sysfs_bus_id>0.0.0100</sysfs_bus_id>
        <udi>/org/freedesktop/Hal/devices/ccw_0_0_0100_storage</udi>
      </listentry>
      
      <!-- Dasd attached at 0101 --> 
      <listentry>
        <bus>None</bus>
        <bus_hwcfg>none</bus_hwcfg>
        <channel>0.0.0101</channel>
        <dev_name>/dev/dasdb</dev_name>
        <dev_names config:type="list">
          <listentry>/dev/dasdb</listentry>
          <listentry>/dev/disk/by-path/ccw-0.0.0101</listentry>
        </dev_names>
        <device>DASD</device>
        <driver>io_subchannel</driver>
        <drivers config:type="list">
          <listentry>
            <active config:type="boolean">true</active>
            <modprobe config:type="boolean">true</modprobe>
            <modules config:type="list">
              <module_entry config:type="list">
                <listentry>dasd_eckd_mod</listentry>
                <listentry></listentry>
              </module_entry>
            </modules>
          </listentry>
        </drivers>
        <formatted config:type="boolean">true</formatted>
        <partition_info>/dev/dasdb1 (Linux native)</partition_info>
        <resource>
          <disk_log_geo config:type="list">
            <listentry>
              <cylinders config:type="integer">3338</cylinders>
              <heads config:type="integer">15</heads>
              <sectors config:type="integer">12</sectors>
            </listentry>
          </disk_log_geo>
          <io config:type="list">
            <listentry>
              <active config:type="boolean">true</active>
              <length config:type="integer">1</length>
              <mode>rw</mode>
              <start config:type="integer">256</start>
            </listentry>
          </io>
        </resource>
        <sysfs_bus_id>0.0.0101</sysfs_bus_id>
        <udi>/org/freedesktop/Hal/devices/ccw_0_0_0101_storage</udi>
      </listentry>
      
      <!-- Dasd attached at 0300 -->
      <listentry>
        <bus>None</bus>
        <bus_hwcfg>none</bus_hwcfg>
        <channel>0.0.0300</channel>
        <dev_name>/dev/dasdc</dev_name>
        <dev_names config:type="list">
          <listentry>/dev/dasdc</listentry>
          <listentry>/dev/disk/by-path/ccw-0.0.0300</listentry>
        </dev_names>
        <device>DASD</device>
        <driver>io_subchannel</driver>
        <drivers config:type="list">
          <listentry>
            <active config:type="boolean">true</active>
            <modprobe config:type="boolean">true</modprobe>
            <modules config:type="list">
              <module_entry config:type="list">
                <listentry>dasd_fba_mod</listentry>
                <listentry></listentry>
              </module_entry>
            </modules>
          </listentry>
        </drivers>
        <formatted config:type="boolean">true</formatted>
        <partition_info>/dev/dasdc1</partition_info>
        <resource>
          <disk_log_geo config:type="list">
            <listentry>
              <cylinders config:type="integer">256</cylinders>
              <heads config:type="integer">16</heads>
              <sectors config:type="integer">128</sectors>
            </listentry>
          </disk_log_geo>
        </resource>
        <sysfs_bus_id>0.0.0300</sysfs_bus_id>
        <udi>/org/freedesktop/Hal/devices/ccw_0_0_0300_storage</udi>
      </listentry>
      
      <!-- Dasd attached at 0301 -->
      <listentry>
        <bus>None</bus>
        <bus_hwcfg>none</bus_hwcfg>
        <channel>0.0.0301</channel>
        <dev_name>/dev/dasdd</dev_name>
        <dev_names config:type="list">
          <listentry>/dev/dasdd</listentry>
          <listentry>/dev/disk/by-path/ccw-0.0.0301</listentry>
        </dev_names>
        <device>DASD</device>
        <driver>io_subchannel</driver>
        <drivers config:type="list">
          <listentry>
            <active config:type="boolean">true</active>
            <modprobe config:type="boolean">true</modprobe>
            <modules config:type="list">
              <module_entry config:type="list">
                <listentry>dasd_fba_mod</listentry>
                <listentry></listentry>
              </module_entry>
            </modules>
          </listentry>
        </drivers>
        <formatted config:type="boolean">true</formatted>
        <partition_info>/dev/dasdd1</partition_info>
        <resource>
          <disk_log_geo config:type="list">
            <listentry>
              <cylinders config:type="integer">512</cylinders>
              <heads config:type="integer">16</heads>
              <sectors config:type="integer">128</sectors>
            </listentry>
          </disk_log_geo>
        </resource>
        <sysfs_bus_id>0.0.0301</sysfs_bus_id>
        <udi>/org/freedesktop/Hal/devices/ccw_0_0_0301_storage</udi>
      </listentry>
    </devices>
  </dasd>
  
  <general>
    <mode>
      <confirm config:type="boolean">false</confirm>
    </mode>
    <mouse>
      <id>none</id>
    </mouse>
    <signature-handling>
      <accept_file_without_checksum config:type="boolean">true</accept_file_without_checksum>
      <accept_non_trusted_gpg_key config:type="boolean">true</accept_non_trusted_gpg_key>
      <accept_unknown_gpg_key config:type="boolean">true</accept_unknown_gpg_key>
      <accept_unsigned_file config:type="boolean">true</accept_unsigned_file>
      <accept_verification_failed config:type="boolean">false</accept_verification_failed>
      <import_gpg_key config:type="boolean">true</import_gpg_key>
    </signature-handling>
  </general>
  
  <!-- Groups to create on Linux -->
  <groups config:type="list">
    <group>
      <group_password>x</group_password>
      <groupname>users</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>floppy</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>bin</groupname>
      <userlist>daemon</userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>xok</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>nobody</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>modem</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>lp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>tty</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>postfix</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>gdm</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>nogroup</groupname>
      <userlist>nobody</userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>maildrop</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>messagebus</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>video</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>sys</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>shadow</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>console</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>cdrom</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>haldaemon</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>trusted</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>dialout</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>wheel</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>www</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>games</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>disk</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>audio</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>suse-ncc</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>ftp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>at</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>kmem</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>public</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>root</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>mail</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>daemon</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>ntp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>uucp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>ntadmin</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>man</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>utmp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>x</group_password>
      <groupname>news</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>sshd</groupname>
      <userlist></userlist>
    </group>
  </groups>
  
  <!-- Contents of /etc/hosts -->
  <host>
    <hosts config:type="list">
      <hosts_entry>
        <host_address>127.0.0.1</host_address>
        <names config:type="list">
          <name>localhost</name>
        </names>
      </hosts_entry>
      <hosts_entry>
        <host_address>replace_host_address</host_address>
        <names config:type="list">
          <name>replace_long_name replace_short_name</name>
        </names>
      </hosts_entry>
    </hosts>
  </host>
  
  
  <iscsi-client>
    <initiatorname></initiatorname>
    <targets config:type="list"/>
    <version>1.0</version>
  </iscsi-client>
  
  
  <!-- Language setup (english) -->
  <language>
    <language>en_US</language>
    <languages></languages>
  </language>
  
  <!-- Networking setup (DHCP) -->
  <networking>
    <dhcp_options>
      <dhclient_additional_options></dhclient_additional_options>
      <dhclient_client_id></dhclient_client_id>
      <dhclient_hostname_option>AUTO</dhclient_hostname_option>
    </dhcp_options>
    <dns>
      <dhcp_hostname config:type="boolean">true</dhcp_hostname>
      <dhcp_resolv config:type="boolean">true</dhcp_resolv>
      <domain>replace_domain</domain>
      <hostname>replace_hostname</hostname>
      <nameservers config:type="list">
        <nameserver>replace_nameserver</nameserver>
      </nameservers>
    </dns>
    <interfaces config:type="list">
      <interface>
        <bootproto>dhcp</bootproto>
        <device>replace_device</device>
        <lladdr>replace_lladdr</lladdr>
        <startmode>auto</startmode>
        <usercontrol>no</usercontrol>
      </interface>
    </interfaces>
    <managed config:type="boolean">false</managed>
    
    <!-- Device type -->
    <modules config:type="list">
      <module_entry>
        <device>dasd-bus-ccw-0.0.0100</device>
        <module>dasd_eckd_mod</module>
        <options></options>
      </module_entry>
      
      <module_entry>
        <device>dasd-bus-ccw-0.0.0101</device>
        <module>dasd_eckd_mod</module>
        <options></options>
      </module_entry>
            
      <module_entry>
        <device>dasd-bus-ccw-0.0.0300</device>
        <module>dasd_fba_mod</module>
        <options></options>
      </module_entry>
      
      <module_entry>
        <device>dasd-bus-ccw-0.0.0301</device>
        <module>dasd_fba_mod</module>
        <options></options>
      </module_entry>
      
      <module_entry>
        <ccw_chan_ids>replace_ccw_chan_ids</ccw_chan_ids>
        <ccw_chan_mode>replace_ccw_chan_mode</ccw_chan_mode>
        <ccw_chan_num>3</ccw_chan_num>
        <device>replace_device</device>
        <module>qeth</module>
        <options></options>
      </module_entry>
    </modules>
    <routing>
      <ip_forward config:type="boolean">false</ip_forward>
    </routing>
  </networking>
  
  
  <nis>
    <nis_broadcast config:type="boolean">false</nis_broadcast>
    <nis_broken_server config:type="boolean">false</nis_broken_server>
    <nis_by_dhcp config:type="boolean">false</nis_by_dhcp>
    <nis_domain></nis_domain>
    <nis_local_only config:type="boolean">false</nis_local_only>
    <nis_options></nis_options>
    <nis_other_domains config:type="list"/>
    <nis_servers config:type="list"/>
    <start_autofs config:type="boolean">false</start_autofs>
    <start_nis config:type="boolean">false</start_nis>
  </nis>
  
  <!-- File system partitioning -->
  <partitioning config:type="list">
  
    <!-- Root partition -->
    <drive>
      <device>/dev/dasda</device>
      <partitions config:type="list">
        <partition>
          <create config:type="boolean">true</create>
          <filesystem config:type="symbol">ext3</filesystem>
          <format config:type="boolean">true</format>
          <mount>/</mount>
          <mountby config:type="symbol">path</mountby>
          <partition_id config:type="integer">131</partition_id>
          <partition_nr config:type="integer">1</partition_nr>
          <partition_type>primary</partition_type>
          <size>max</size>
        </partition>
      </partitions>
      <use>all</use>
    </drive>
    
    <!-- /usr partition -->
    <drive>
      <device>/dev/dasdb</device>
      <partitions config:type="list">
        <partition>
          <create config:type="boolean">true</create>
          <filesystem config:type="symbol">ext3</filesystem>
          <format config:type="boolean">true</format>
          <mount>/usr</mount>
          <mountby config:type="symbol">path</mountby>
          <partition_id config:type="integer">131</partition_id>
          <partition_nr config:type="integer">1</partition_nr>
          <partition_type>primary</partition_type>
          <size>max</size>
        </partition>
      </partitions>
      <use>all</use>
    </drive>
        
    <!-- Swap space -->
    <drive>
      <device>/dev/dasdc</device>
      <partitions config:type="list">
        <partition>
          <create config:type="boolean">true</create>
          <filesystem config:type="symbol">swap</filesystem>
          <format config:type="boolean">true</format>
          <mount>swap</mount>
          <mountby config:type="symbol">device</mountby>
          <partition_id config:type="integer">131</partition_id>
          <partition_nr config:type="integer">1</partition_nr>
          <partition_type>primary</partition_type>
          <size>max</size>
        </partition>
      </partitions>
      <use>all</use>
    </drive>
    
    <!-- Swap space -->
    <drive>
      <device>/dev/dasdd</device>
      <partitions config:type="list">
        <partition>
          <create config:type="boolean">true</create>
          <filesystem config:type="symbol">swap</filesystem>
          <format config:type="boolean">true</format>
          <mount>swap</mount>
          <mountby config:type="symbol">device</mountby>
          <partition_id config:type="integer">131</partition_id>
          <partition_nr config:type="integer">1</partition_nr>
          <partition_type>primary</partition_type>
          <size>max</size>
        </partition>
      </partitions>
      <use>all</use>
    </drive>
  </partitioning>
    
  <proxy>
    <enabled config:type="boolean">false</enabled>
    <ftp_proxy></ftp_proxy>
    <http_proxy></http_proxy>
    <https_proxy></https_proxy>
    <no_proxy>localhost, 127.0.0.1</no_proxy>
    <proxy_password></proxy_password>
    <proxy_user></proxy_user>
  </proxy>
  
  
  <report>
    <errors>
      <log config:type="boolean">true</log>
      <show config:type="boolean">true</show>
      <timeout config:type="integer">0</timeout>
    </errors>
    <messages>
      <log config:type="boolean">true</log>
      <show config:type="boolean">true</show>
      <timeout config:type="integer">0</timeout>
    </messages>
    <warnings>
      <log config:type="boolean">true</log>
      <show config:type="boolean">true</show>
      <timeout config:type="integer">0</timeout>
    </warnings>
    <yesno_messages>
      <log config:type="boolean">true</log>
      <show config:type="boolean">true</show>
      <timeout config:type="integer">0</timeout>
    </yesno_messages>
  </report>
  
  
  <runlevel>
    <default>5</default>
  </runlevel>
  
  <!-- Software to install on Linux -->
  <software>
    <packages config:type="list">
      <package>libgsm</package>
      <package>libssui</package>
      <package>perl-Bootloader</package>
      <package>samba-client</package>
      <package>libiniparser</package>
      <package>libnl</package>
      <package>cifs-mount</package>
      <package>OpenEXR</package>
      <package>perl-XML-Parser</package>
      <package>qt-qt3support</package>
      <package>net-snmp</package>
      <package>dbus-1-qt</package>
      <package>perl-gettext</package>
      <package>perl-Carp-Clan</package>
      <package>dmapi</package>
      <package>xorg-x11-Xnest</package>
      <package>glibc-32bit</package>
      <package>mDNSResponder-lib</package>
      <package>perl-Config-Crontab</package>
      <package>perl-X500-DN</package>
      <package>libogg</package>
      <package>perl-TermReadKey</package>
      <package>pciutils-ids</package>
      <package>perl-Config-IniFiles</package>
      <package>perl-XML-Writer</package>
      <package>update-alternatives</package>
      <package>mono-winforms</package>
      <package>yast2-trans-en_US</package>
      <package>libvorbis</package>
      <package>perl-Crypt-SmbHash</package>
      <package>perl-TimeDate</package>
      <package>zypper</package>
      <package>taglib</package>
      <package>libicu</package>
      <package>perl-Digest-MD4</package>
      <package>perl-Parse-RecDescent</package>
      <package>unrar</package>
      <package>perl-Bit-Vector</package>
      <package>perl-Date-Calc</package>
      <package>boost</package>
      <package>flac</package>
      <package>python-cairo</package>
      <package>aspell-en</package>
      <package>libgimpprint</package>
      <package>susehelp_en</package>
      <package>iso-codes</package>
      <package>libsvg-cairo</package>
      <package>audiofile</package>
      <package>esound</package>
      <package>dbus-1-mono</package>
      <package>limal-nfs-server</package>
      <package>libzypp-zmd-backend</package>
      <package>aalib</package>
      <package>libsvg</package>
      <package>perl-Compress-Zlib</package>
      <package>perl-Digest-SHA1</package>
      <package>perl-URI</package>
      <package>libgdiplus</package>
      <package>limal-nfs-server-perl</package>
      <package>bind</package>
    </packages>
    
    <patterns config:type="list">
      <pattern>x11</pattern>
      <pattern>gnome</pattern>
      <pattern>base</pattern>
    </patterns>
    
    <remove-packages config:type="list">
      <package>xorg-x11-driver-video-radeon</package>
      <package>915resolution</package>
      <package>xorg-x11-driver-video-nvidia</package>
      <package>3ddiag</package>
      <package>sax2-libsax-perl</package>
      <package>sax2-ident</package>
      <package>sax2</package>
      <package>sax2-gui</package>
      <package>sax2-libsax</package>
      <package>xorg-x11-server-glx</package>
      <package>xorg-x11-server</package>
      <package>xorg-x11-driver-video</package>
      <package>nautilus-cd-burner</package>
      <package>yast2-sound</package>
      <package>evolution</package>
      <package>gnome2-SLES</package>
      <package>mDNSResponder</package>
      <package>cdrecord</package>
      <package>cdrdao</package>
      <package>dosbootdisk</package>
      <package>gnome2-SuSE</package>
      <package>suspend</package>
      <package>acpid</package>
      <package>bootcycle</package>
      <package>fbset</package>
      <package>libpfm</package>
      <package>mcelog</package>
      <package>mpt-status</package>
      <package>linux32</package>
      <package>master-boot-code</package>
      <package>pfmon</package>
      <package>numactl</package>
      <package>powersave</package>
      <package>pdisk</package>
      <package>smartmontools</package>
      <package>salinfo</package>
      <package>powerpc32</package>
      <package>syslinux</package>
      <package>wol</package>
      <package>yast2-irda</package>
      <package>yast2-vm</package>
      <package>yast2-power-management</package>
    </remove-packages>
  </software>
  
  <!-- Time zone -->
  <timezone>
    <hwclock>UTC</hwclock>
    <timezone>US/Eastern</timezone>
  </timezone>
  
  
  <user_defaults>
    <expire></expire>
    <group>100</group>
    <groups>video,dialout</groups>
    <home>/home</home>
    <inactive>-1</inactive>
    <shell>/bin/bash</shell>
    <skel>/etc/skel</skel>
  </user_defaults>
  
  <!-- Users on Linux -->
  <users config:type="list">
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Games account</fullname>
      <gid>100</gid>
      <home>/var/games</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>12</uid>
      <user_password>*</user_password>
      <username>games</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>bin</fullname>
      <gid>1</gid>
      <home>/bin</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>1</uid>
      <user_password>*</user_password>
      <username>bin</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>nobody</fullname>
      <gid>65533</gid>
      <home>/var/lib/nobody</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>65534</uid>
      <user_password>*</user_password>
      <username>nobody</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Printing daemon</fullname>
      <gid>7</gid>
      <home>/var/spool/lpd</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>4</uid>
      <user_password>*</user_password>
      <username>lp</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Postfix Daemon</fullname>
      <gid>51</gid>
      <home>/var/spool/postfix</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>51</uid>
      <user_password>!</user_password>
      <username>postfix</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Novell Customer Center User</fullname>
      <gid>105</gid>
      <home>/var/lib/YaST2/suse-ncc-fakehome</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>102</uid>
      <user_password>!</user_password>
      <username>suse-ncc</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>FTP account</fullname>
      <gid>49</gid>
      <home>/srv/ftp</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>40</uid>
      <user_password>*</user_password>
      <username>ftp</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Gnome Display Manager daemon</fullname>
      <gid>104</gid>
      <home>/var/lib/gdm</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>50</uid>
      <user_password>!</user_password>
      <username>gdm</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Batch jobs daemon</fullname>
      <gid>25</gid>
      <home>/var/spool/atjobs</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>25</uid>
      <user_password>!</user_password>
      <username>at</username>
    </user>
    <user>
      <encrypted config:type="boolean">false</encrypted>
      <fullname>root</fullname>
      <gid>0</gid>
      <home>/root</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>0</uid>
      <user_password>replace_root_password</user_password>
      <username>root</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Mailer daemon</fullname>
      <gid>12</gid>
      <home>/var/spool/clientmqueue</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>8</uid>
      <user_password>*</user_password>
      <username>mail</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Daemon</fullname>
      <gid>2</gid>
      <home>/sbin</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>2</uid>
      <user_password>*</user_password>
      <username>daemon</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>NTP daemon</fullname>
      <gid>103</gid>
      <home>/var/lib/ntp</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>74</uid>
      <user_password>!</user_password>
      <username>ntp</username>
    </user>
    <user>
      <fullname>User for D-BUS</fullname>
      <gid>101</gid>
      <home>/var/run/dbus</home>
      <shell>/bin/false</shell>
      <uid>100</uid>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Unix-to-Unix CoPy system</fullname>
      <gid>14</gid>
      <home>/etc/uucp</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>10</uid>
      <user_password>*</user_password>
      <username>uucp</username>
    </user>
    <user>
      <fullname>User for haldaemon</fullname>
      <gid>102</gid>
      <home>/var/run/hal</home>
      <shell>/bin/false</shell>
      <uid>101</uid>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>WWW daemon apache</fullname>
      <gid>8</gid>
      <home>/var/lib/wwwrun</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>30</uid>
      <user_password>*</user_password>
      <username>wwwrun</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Manual pages viewer</fullname>
      <gid>62</gid>
      <home>/var/cache/man</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>13</uid>
      <user_password>*</user_password>
      <username>man</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>News system</fullname>
      <gid>13</gid>
      <home>/etc/news</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>9</uid>
      <user_password>*</user_password>
      <username>news</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>SSH daemon</fullname>
      <gid>65</gid>
      <home>/var/lib/sshd</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>71</uid>
      <user_password>!</user_password>
      <username>sshd</username>
    </user>
  </users>
  
  
  <zfcp>
    <devices config:type="list"/>
  </zfcp>
  
  <!-- Scripts (post-script) -->
  <configure>
    <scripts>
		<post-scripts config:type="list">
			<script>
				<filename>post.sh</filename>
				<interpreter>shell</interpreter>
				<source>
					<![CDATA[
					#!/bin/sh
	
					# Set MAC address
					cat /etc/sysconfig/network/ifcfg-replace_device | grep -v "LLADDR" | grep -v "UNIQUE" > /tmp/ifcfg-replace_device
					echo LLADDR='replace_lladdr' >> /tmp/ifcfg-replace_device
					echo UNIQUE='' >> /tmp/ifcfg-replace_device
					cat /tmp/ifcfg-replace_device > /etc/sysconfig/network/ifcfg-replace_device
					
					# Set layer = 2
					cat /etc/sysconfig/hardware/hwcfg-replace_device | grep -v "QETH_LAYER2_SUPPORT" > /tmp/hwcfg-replace_device
					echo QETH_LAYER2_SUPPORT='1' >> /tmp/hwcfg-replace_device
					cat /tmp/hwcfg-replace_device > /etc/sysconfig/hardware/hwcfg-replace_device
					]]>
				</source>
			</script>
		</post-scripts>
    </scripts>
  </configure>
</profile>
