<?xml version="1.0"?>
<!DOCTYPE profile>
<profile xmlns="http://www.suse.com/1.0/yast2ns" xmlns:config="http://www.suse.com/1.0/configns">

  <!-- The dasd attached to the virtual server -->  
  <dasd>
    <devices config:type="list">
      insert_devices     
    </devices>
  </dasd>
  
  
  <general>
    <mode>
      <confirm config:type="boolean">false</confirm>
    </mode>
    <mouse>
      <id>none</id>
    </mouse>
    <signature-handling/>
  </general>
  
  
  <!-- Groups to create on Linux -->
  <groups config:type="list">
    <group>
      <groupname>users</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>floppy</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>bin</groupname>
      <userlist>daemon</userlist>
    </group>
    <group>
      <groupname>xok</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>nobody</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>modem</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>lp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>tty</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>postfix</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>gdm</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>nogroup</groupname>
      <userlist>nobody</userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>maildrop</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>messagebus</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>video</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>sys</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>shadow</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>console</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>cdrom</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>haldaemon</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>trusted</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>dialout</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>ts-shell</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>wheel</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>www</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>games</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>disk</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>audio</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>suse-ncc</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>ftp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>at</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>kmem</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>public</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>root</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>mail</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>daemon</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>ntp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>uucp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>ntadmin</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>man</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>utmp</groupname>
      <userlist></userlist>
    </group>
    <group>
      <groupname>news</groupname>
      <userlist></userlist>
    </group>
    <group>
      <group_password>!</group_password>
      <groupname>sshd</groupname>
      <userlist></userlist>
    </group>
  </groups>
  
  
  <!-- Contents of /etc/hosts -->
  <host>
    <hosts config:type="list">
      insert_hosts
    </hosts>
  </host>
    

  <iscsi-client>
    <initiatorname></initiatorname>
    <targets config:type="list"/>
    <version>1.0</version>
  </iscsi-client>
  

  <!-- Language setup (english) -->
  <language>
    <language>en_US</language>
    <languages></languages>
  </language>
  

  <!-- Networking setup -->
  <networking>
    <dhcp_options>
      <dhclient_additional_options></dhclient_additional_options>
      <dhclient_client_id></dhclient_client_id>
      <dhclient_hostname_option>AUTO</dhclient_hostname_option>
    </dhcp_options>
    <dns>
      insert_dns
    </dns>
    <interfaces config:type="list">
      insert_interfaces
    </interfaces>
    <managed config:type="boolean">false</managed>


    <!-- Device type -->
    <modules config:type="list">
      insert_modules
    </modules>
    <routing>
      <ip_forward config:type="boolean">false</ip_forward>
      <routes config:type="list">
        insert_routes
      </routes>
    </routing>
  </networking>
  
  
  <nis>
    <nis_broadcast config:type="boolean">false</nis_broadcast>
    <nis_broken_server config:type="boolean">false</nis_broken_server>
    <nis_by_dhcp config:type="boolean">false</nis_by_dhcp>
    <nis_domain></nis_domain>
    <nis_local_only config:type="boolean">false</nis_local_only>
    <nis_options></nis_options>
    <nis_other_domains config:type="list">
    </nis_other_domains>
    <nis_servers config:type="list"/>
    <start_autofs config:type="boolean">false</start_autofs>
    <start_nis config:type="boolean">false</start_nis>
  </nis>
  
  
  <!-- File system partitioning -->
  <partitioning config:type="list">
    insert_partitioning_drives
  </partitioning>
    
  
  <proxy>
    <enabled config:type="boolean">false</enabled>
    <ftp_proxy></ftp_proxy>
    <http_proxy></http_proxy>
    <https_proxy></https_proxy>
    <no_proxy>localhost, 127.0.0.1</no_proxy>
    <proxy_password></proxy_password>
    <proxy_user></proxy_user>
  </proxy>
  
  
  <report>
    <errors>
      <log config:type="boolean">true</log>
      <show config:type="boolean">true</show>
      <timeout config:type="integer">0</timeout>
    </errors>
    <messages>
      <log config:type="boolean">true</log>
      <show config:type="boolean">true</show>
      <timeout config:type="integer">0</timeout>
    </messages>
    <warnings>
      <log config:type="boolean">true</log>
      <show config:type="boolean">true</show>
      <timeout config:type="integer">0</timeout>
    </warnings>
    <yesno_messages>
      <log config:type="boolean">true</log>
      <show config:type="boolean">true</show>
      <timeout config:type="integer">0</timeout>
    </yesno_messages>
  </report>
  
  
  <runlevel>
    <default>5</default>
  </runlevel>
  
  
  <!-- Software to install on Linux -->
  <software>
    <patterns config:type="list">
      insert_software_pattern
    </patterns>
  </software>
  
  
  <!-- Time zone -->
  <timezone>
    <hwclock>UTC</hwclock>
    <timezone>US/Eastern</timezone>
  </timezone>
  
  
  <user_defaults>
    <expire></expire>
    <group>100</group>
    <groups>video,dialout</groups>
    <home>/home</home>
    <inactive>-1</inactive>
    <shell>/bin/bash</shell>
    <skel>/etc/skel</skel>
  </user_defaults>
  
  
  <!-- Users on Linux -->
  <users config:type="list">
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Games account</fullname>
      <gid>100</gid>
      <home>/var/games</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>12</uid>
      <user_password>*</user_password>
      <username>games</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>bin</fullname>
      <gid>1</gid>
      <home>/bin</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>1</uid>
      <user_password>*</user_password>
      <username>bin</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>nobody</fullname>
      <gid>65533</gid>
      <home>/var/lib/nobody</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>65534</uid>
      <user_password>*</user_password>
      <username>nobody</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Printing daemon</fullname>
      <gid>7</gid>
      <home>/var/spool/lpd</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>4</uid>
      <user_password>*</user_password>
      <username>lp</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Postfix Daemon</fullname>
      <gid>51</gid>
      <home>/var/spool/postfix</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>51</uid>
      <user_password>!</user_password>
      <username>postfix</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Novell Customer Center User</fullname>
      <gid>106</gid>
      <home>/var/lib/YaST2/suse-ncc-fakehome</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>102</uid>
      <user_password>!</user_password>
      <username>suse-ncc</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>FTP account</fullname>
      <gid>49</gid>
      <home>/srv/ftp</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>40</uid>
      <user_password>*</user_password>
      <username>ftp</username>
    </user>
    <user>
      <encrypted config:type="boolean">false</encrypted>
      <fullname>root</fullname>
      <gid>0</gid>
      <home>/root</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>0</uid>
      <user_password>insert_root_password</user_password>
      <username>root</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Mailer daemon</fullname>
      <gid>12</gid>
      <home>/var/spool/clientmqueue</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>8</uid>
      <user_password>*</user_password>
      <username>mail</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Daemon</fullname>
      <gid>2</gid>
      <home>/sbin</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>2</uid>
      <user_password>*</user_password>
      <username>daemon</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>NTP daemon</fullname>
      <gid>103</gid>
      <home>/var/lib/ntp</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>74</uid>
      <user_password>!</user_password>
      <username>ntp</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Unix-to-Unix CoPy system</fullname>
      <gid>14</gid>
      <home>/etc/uucp</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>10</uid>
      <user_password>*</user_password>
      <username>uucp</username>
    </user>
    <user>
      <fullname>User for D-BUS</fullname>
      <gid>101</gid>
      <home>/var/run/dbus</home>
      <shell>/bin/false</shell>
      <uid>100</uid>
    </user>
    <user>
      <fullname>User for haldaemon</fullname>
      <gid>102</gid>
      <home>/var/run/hal</home>
      <shell>/bin/false</shell>
      <uid>101</uid>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>WWW daemon apache</fullname>
      <gid>8</gid>
      <home>/var/lib/wwwrun</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>30</uid>
      <user_password>*</user_password>
      <username>wwwrun</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>Manual pages viewer</fullname>
      <gid>62</gid>
      <home>/var/cache/man</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>13</uid>
      <user_password>*</user_password>
      <username>man</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>News system</fullname>
      <gid>13</gid>
      <home>/etc/news</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max></max>
        <min></min>
        <warn></warn>
      </password_settings>
      <shell>/bin/bash</shell>
      <uid>9</uid>
      <user_password>*</user_password>
      <username>news</username>
    </user>
    <user>
      <encrypted config:type="boolean">true</encrypted>
      <fullname>SSH daemon</fullname>
      <gid>65</gid>
      <home>/var/lib/sshd</home>
      <password_settings>
        <expire></expire>
        <flag></flag>
        <inact></inact>
        <max>99999</max>
        <min>0</min>
        <warn>7</warn>
      </password_settings>
      <shell>/bin/false</shell>
      <uid>71</uid>
      <user_password>!</user_password>
      <username>sshd</username>
    </user>
  </users>
  
  
  <zfcp>
    <devices config:type="list"/>
  </zfcp>
  
  
  <!-- Scripts (post-script) -->
  <configure>
    <scripts>
    </scripts>
  </configure>
</profile>
