<?xml version="1.0"?>
<!DOCTYPE profile SYSTEM "/usr/share/YaST2/include/autoinstall/profile.dtd">
<profile xmlns="http://www.suse.com/1.0/yast2ns" xmlns:config="http://www.suse.com/1.0/configns">
  <install>
    <bootloader>
      <write_bootloader config:type="boolean">true</write_bootloader>
      <activate config:type="boolean">true</activate>
      <kernel_parameters></kernel_parameters>
      <lba_support config:type="boolean">false</lba_support>
      <linear config:type="boolean">false</linear>
      <location>mbr</location>
    </bootloader>
    <general>
      <clock>
        <hwclock>GMT</hwclock>
        <timezone>#TABLE:site:key=timezone:value#</timezone>
      </clock>
      <keyboard>
        <keymap>english-us</keymap>
      </keyboard>
      <language>en_US</language>
      <mode>
        <confirm config:type="boolean">false</confirm>
        <forceboot config:type="boolean">false</forceboot>
        <interactive_boot config:type="boolean">false</interactive_boot>
        <reboot config:type="boolean">true</reboot>
      </mode>
      <mouse>
        <id>non</id>
      </mouse>
    </general>
  <partitioning config:type="list">
     <drive>
       <device>/dev/sda</device>
       <partitions config:type="list">
         <partition>
           <format config:type="boolean">false</format>
           <partition_id config:type="integer">65</partition_id>
           <partition_nr config:type="integer">1</partition_nr>
           <partition_type>primary</partition_type>
           <size>24M</size>
         </partition>
         <partition>
           <format config:type="boolean">false</format>
           <partition_id config:type="integer">253</partition_id>
           <partition_nr config:type="integer">2</partition_nr>
           <raid_name>/dev/md0</raid_name>
           <raid_type>raid</raid_type>
           <size>2G</size>
         </partition>
         <partition>
           <format config:type="boolean">false</format>
           <partition_id config:type="integer">253</partition_id>
           <partition_nr config:type="integer">3</partition_nr>
           <raid_name>/dev/md1</raid_name>
           <raid_type>raid</raid_type>
           <size>max</size>
         </partition>
       </partitions>
       <use>all</use>
     </drive>
     <drive>
       <device>/dev/sdb</device>
       <partitions config:type="list">
         <partition>
           <format config:type="boolean">false</format>
           <partition_id config:type="integer">131</partition_id>
           <partition_nr config:type="integer">1</partition_nr>
           <partition_type>primary</partition_type>
           <size>24M</size>
         </partition>
         <partition>
           <format config:type="boolean">false</format>
           <partition_id config:type="integer">253</partition_id>
           <partition_nr config:type="integer">2</partition_nr>
           <raid_name>/dev/md0</raid_name>
           <raid_type>raid</raid_type>
           <size>2G</size>
         </partition>
         <partition>
           <format config:type="boolean">false</format>
           <partition_id config:type="integer">253</partition_id>
           <partition_nr config:type="integer">3</partition_nr>
           <raid_name>/dev/md1</raid_name>
           <raid_type>raid</raid_type>
           <size>max</size>
         </partition>
       </partitions>
       <use>all</use>
     </drive>
    <drive>
      <device>/dev/md</device>
      <partitions config:type="list">
	<partition>
	  <filesystem config:type="symbol">reiser</filesystem>
	  <format config:type="boolean">true</format>
	  <mount>swap</mount>
	  <partition_id config:type="integer">131</partition_id>	 
	  <partition_nr config:type="integer">0</partition_nr>
	  <raid_options>
	    <chunk_size>4</chunk_size>
	    <parity_algorithm>left-asymmetric</parity_algorithm>	   
	    <raid_type>raid1</raid_type>
	  </raid_options>
	</partition>
        <partition>
          <filesystem config:type="symbol">reiser</filesystem>
          <format config:type="boolean">true</format>
          <mount>/</mount>
          <partition_id config:type="integer">131</partition_id>
          <partition_nr config:type="integer">1</partition_nr>
          <raid_options>
            <chunk_size>4</chunk_size>
            <parity_algorithm>left-asymmetric</parity_algorithm>
            <raid_type>raid1</raid_type>
          </raid_options>
        </partition>
      </partitions>
      <use>all</use>
    </drive>
  </partitioning>
    <software>
      <patterns config:type="list">
        #INCLUDE_DEFAULT_PTRNLIST_S#
      </patterns>
      <packages config:type="list">
        #INCLUDE_DEFAULT_PKGLIST_S#
      </packages>
    </software>
  </install>
  <configure>
    <users config:type="list">
      <user>
        <username>root</username>
        <user_password>#CRYPT:passwd:key=system,username=root:password#</user_password>
        <encrypted config:type="boolean">true</encrypted>
        <forename/>
        <surname/>
      </user>
    </users>
    <networking>
      <dns>
        <dhcp_hostname config:type="boolean">true</dhcp_hostname>
        <dhcp_resolv config:type="boolean">true</dhcp_resolv>
        <domain>local</domain>
        <hostname>linux</hostname>
      </dns>
      <interfaces config:type="list">
        <interface>
          <bootproto>dhcp</bootproto>
          <device>eth0</device>
          <startmode>onboot</startmode>
        </interface>
      </interfaces>
      <routing>
        <ip_forward config:type="boolean">false</ip_forward>
        <routes config:type="list"/>
      </routing>
    </networking>
    <scripts>
   #INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/pre.sles#
   #INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/chroot.sles#
   #INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/post.sles11.raid1#
    </scripts>
  </configure>
</profile>
