<?xml version="1.0"?>
<!DOCTYPE profile>
<profile xmlns="http://www.suse.com/1.0/yast2ns" xmlns:config="http://www.suse.com/1.0/configns">
    <bootloader>
      <global>
        <activate>true</activate>
        <append>#XCATVAR:PERSKCMDLINE#</append>
      </global>
    </bootloader>
    <general>
      <mode>
        <confirm config:type="boolean">false</confirm>
        <final_reboot config:type="boolean">false</final_reboot>
      </mode>
      <signature-handling>
         <accept_non_trusted_gpg_key config:type="boolean">true</accept_non_trusted_gpg_key>
         <accept_unknown_gpg_key config:type="boolean">true</accept_unknown_gpg_key>
         <accept_unsigned_file config:type="boolean">true</accept_unsigned_file>
         <accept_verification_failed config:type="boolean">true</accept_verification_failed>
      </signature-handling>
    </general>
    <timezone>
      <hwclock>UTC</hwclock>
      <timezone>#TABLE:site:key=timezone:value#</timezone>
    </timezone>
    <keyboard>
      <keymap>english-us</keymap>
    </keyboard>
    <language>
      <language>en_US</language>
    </language>
    <partitioning config:type="list">
      <!-- XCAT-PARTITION-START -->
      <drive>
        <device>XCATPARTITIONHOOK</device>
        <initialize config:type="boolean">true</initialize>
        <use>all</use>
      </drive>
      <!-- XCAT-PARTITION-END -->
    </partitioning>
    <add-on>
        <add_on_products config:type="list">
          #INSTALL_SOURCES#
        </add_on_products>
    </add-on>
    <software>
      <products config:type="list">
        <product>SLES</product>
      </products>
      <patterns config:type="list">
        #INCLUDE_DEFAULT_PTRNLIST_S#
      </patterns>
      <packages config:type="list">
        #INCLUDE_DEFAULT_PKGLIST_S#
      </packages>
    </software>
    <users config:type="list">
      <user>
        <username>root</username>
        <user_password>#CRYPT:passwd:key=system,username=root:password#</user_password>
        <encrypted config:type="boolean">true</encrypted>
        <forename/>
        <surname/>
      </user>
    </users>
    <networking>
       <dns>
        <dhcp_hostname config:type="boolean">true</dhcp_hostname>
        <hostname>linux</hostname>
      </dns>
      <interfaces config:type="list">
        <interface>
          <bootproto>dhcp</bootproto>
          <device>eth0</device>
          <startmode>onboot</startmode>
        </interface>
      </interfaces>
      <keep_install_network config:type="boolean">true</keep_install_network>
      <routing>
        <ipv4_forward config:type="boolean">false</ipv4_forward>
      </routing>
    </networking>
    <scripts>
   #INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/pre.sle#
   #INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/chroot.sles#
   #INCLUDE:#ENV:XCATROOT#/share/xcat/install/scripts/post.sle#
    </scripts>
</profile>
