/*The css style for the new monlist web page*/
.pluginstat
{
        position: relative;
        width: 170px;
        height: 48px;
        float: left;
        padding: 5px;
}

.pluginstat .lef
{
        padding: 8px 0px 8px 0px;
        width: 16px;
        height: 16px;
        position: relative;
        float: left;
        display: inline;
}
.pluginstat .mid
{
        font-size: 1em;
        float: left;
        position: relative;
        display: block;
        color: black;
}

.pluginstat .rig
{
        width: 32px;
        height: 32px;
        float: right;
        background-image: url("../img/monplugin.png");
}

/*The list of monitor plugins*/
#plist
{
    float: left;
    width: 180px;
    padding-left: 15px;
    border-right: 1px solid gray;
}

#settings
{
    display: block;
    width: 725px;
    float: left;
    text-align: left;
    font-size: 1em;
}

.fg-button {
    outline: 0;
    margin: 0 4px 0 0;
    padding: .4em 1em;
    text-decoration:none !important;
    cursor:pointer;
    position: relative;
    text-align: center;
}

.fg-buttonset {float: left;}
.fg-buttonset-single .fg-button {margin-right: -3px}

#nrtree-input {
    float: left;
    width: 25%;
    min-width: 125px;
    min-height: 255px;
    border-right: 1px solid orange;
    z-index: 1;
}

#stat1 {
    padding-left: 10px;
    padding-right: 10px;
    width: 65%;
    float: right;
}

fieldset {
    padding: 0 15px 3em;
    border: 0;
}

.custom-radio { position: relative;}

/* input, label positioning */
.custom-radio input {
    position: absolute;
    left: 2px;
    top: 3px;
    margin: 0;
    z-index: 0;
}
.custom-radio label {
    display: block;
    position: relative;
    z-index: 1;
    font-size: 0.9em;
    color: green;
    padding-right: 1em;
    line-height: 1;
    padding: .5em 0 .5em 30px;
    margin: 0 0 .3em;
    cursor: pointer;
}

.custom-radio label {background: url(../img/radiobutton.gif) no-repeat;}

.custom-radio label {
    background-position: -10px -14px;
}

.custom-radio label.hover,
.custom-radio label.focus {
    background-position: -10px -114px;
}

.custom-radio label.checked {
    background-position: -10px -214px;
}

.custom-radio label.focus {
    outline: 1px dotted #ccc;
}

#condresp {
    width: 97%;
    margin: 5px;
    padding: 5px;
    float: left;
    display: block;
    border: 1px solid orange;
}

#association {
    margin: 5px;
    padding: 5px;
    float:left;
    display: block;
    width: 95%;
    border: 1px solid gray;
}

#avail_cond {
    width: 40%;
    margin: 3px;
    padding: 3px;
    float: left;
    border: 1px solid gray;
}

#avail_resp {
    width: 50%;
    margin: 3px;
    padding: 3px;
    float: left;
    border: 1px solid gray;
}

/*For the RMC resources and their attributes*/
#monsetting_tips {
    width: 97%;
    margin: 3px;
    padding: 1px;
    float: left;
}

#rmcSrcList {
    width: 48%;
    margin: 3px;
    padding: 1px;
    float: left;
    background-color:silver;
    height: 480px;
    overflow-y: scroll;
}

#rmcSrcAttr {
    width: 48%;
    margin: 3px;
    padding: 1px;
    float: left;
    background-color:silver;
}
/**/
