#logdialog {    /* the div inside the dialog */
 margin: 0px 10px 20px 10px;    /* for some reason the containing dialog cuts off the right 30px */
 padding: 0px;
 font-family: Sans-Serif;
 /*font-size: 7pt; */
}

.LogDialog {
 background-color: white;
}

#logdialogNote {
 margin-top: 3px;
}

