Source: xcat-buildkit
Section: admin
Priority: extra
Maintainer: xu qing <qxuqxu@cn.ibm.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: xcat-buildkit
Architecture: all
Depends: dpkg-dev
Description: xCAT-buildkit provides the buildkit tool and sample kit files to build an xCAT kit.
