Source: xcat-probe
Section: admin
Priority: extra
Maintainer: xCAT <xcat-user@lists.sourceforge.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4

Package: xcat-probe
Architecture: all
Depends: ${perl:Depends}
Recommends: wget, dnsutils, tftp-hpa, tcpdump
Description: Provides a toolkit to probe possible issues in xCAT
