Source: xcat-genesis
Section: admin
Priority: extra
Maintainer: Arif Ali <aali@ocf.co.uk>
Build-Depends: debhelper (>= 5), dracut, ethtool, bridge-utils, ifenslave, vlan, rpm, libc6-i386, hwdata, screen, ntp, ncurses-term, btrfs-tools, libstdc++5, libldap-2.4-2, libsasl2-2, libtirpc1, nfs-common
Standards-Version: 3.7.2

Package: xcat-genesis-amd64
Architecture: all
Depends: ${perl:Depends}
Description: xCAT Genesis netboot image
 xCAT genesis (Genesis Enhanced Netboot Environment for System Information 
 and Servicing) is a small, embedded-like environment for xCAT's use in 
 discovery and management actions when interaction with an OS is infeasible.
