[Unit]
Description=xCAT management service
After=network.target syslog.service

[Service]
EnvironmentFile=-/etc/sysconfig/xcat
Type=forking
PIDFile=/var/run/xcatd.pid
ExecStart=/opt/xcat/sbin/xcatd
LimitNOFILE=16000
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
