
/* Styles specific to the db.php page */

#tableNames {
 position: relative;	/* so the h3 inside can be absolute to this div */
 border: 1px solid black;
 text-align: left;
 padding: 12px 5px 10px 5px;
 margin-top: 10px;
 margin-bottom: 10px;
}

#tableNames H3 {
 position: absolute;
 top: -25px;
 left: 15px;
 background-color: white;
 padding: 0px 5px;
}

#tableNames A {
 font-size: 9pt;
 margin-left: 0.6em;
 margin-right: 0.6em;
}

#tableHeading { margin-top: 0px; margin-bottom: 0px; }

#helpLinks { margin-top: 0px; }

#helpLinks A {
 margin-left: 2em;
 margin-right: 2em;
}

.middlepane {
	/* float: left; */
	padding: 5px;
	margin: 10px;
	min-width: 600px;
}
table.tabTable {
        background-color: #CDCDCD;
        margin:10px 0pt 15px;
        font-size: 8pt;
        width: 100%;
        text-align: left;
}


table.tabTable thead tr th, table.tabTable tfoot tr th {
        background-color: #e6EEEE;
        border: 1px solid #FFF;
        font-size: 8pt;
        padding: 4px;
}

table.tabTable tbody td {
       color: #3D3D3D;
       padding: 4px;
       vertical-align: middle;

}

table.tabTable thead tr {
	background-color: #8dbdd8;
}


/*.colHeaders {
	font-size: 8pt;
	padding: 4px;
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-weight: bold;
	text-align: center;
	
}
*/

/* the alternating rows of the table */
.ListLine0 { background: #EFF6FF; /*#e0f8f8;*/ }
.ListLine1 { background: #D8E8FF; /*#b0f8f8;*/ }

.Xcell {		/* the table cell that contains the red x */
 background-color: white;
 vertical-align: middle;
}

.Ximg { padding-right: 15px; }
.Ximg2 { padding-right: 15px; }

.edit {
	background: #8f8f0b;
        font-size: 8pt;
}
/*
#tabTable {
	margin-left: auto;
	margin-right: auto;
}*/
