/*--- Dialogs ---*/
.ui-dialog input {
	border: solid 1px;
	font: 12px verdana, arial, helvetica, sans-serif;
}

.ui-dialog label,.ui-dialog input,.ui-dialog p,.ui-dialog button,.ui-dialog td {
	font: 12px verdana, arial, helvetica, sans-serif;
}

.ui-widget {
	font: 12px verdana, arial, helvetica, sans-serif;
}

/*--- Tooltip ---*/
.tooltip {
	background-color: #000;
	border: 1px solid #fff;
	padding: 10px 15px;
	display: none;
	color: #fff;
	text-align: left;
	max-width: 300px;
	font-size: 10px;
	/* Outline radius for firefox only */
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
}

.tooltip h3 {
	margin: 0px;
}

/*--- Login dialog ---*/
#logdialog {
	font: 12px verdana, arial, helvetica, sans-serif;
	width: 600px;
}

#logdialog table {
	border: solid 0px;
}

#logdialog td {
	width: 100px;
	height: 35px;
	color: #0078AE;
	font-weight: bold;
	border: solid 0px;
}

#logdialog input {
	width: 210px;
	border: solid 1px #0078AE;
	font-size: 12px;
	padding-bottom: 5px;
}

#logdialog p {
	font-size: 18px;
}

#logdialog button {
	font-weight: bold;
	width: 90px;
	float: right;
}

#loginput {
	background-color: #f5f5f5;
	height: 300px;
}

#loginfo {
	margin: 5px 0px;
	text-align: right;
	color: #f5f5f5;
	font-weight:bold;
}

/*--- Header ---*/
#header {
	height: 40px;
	width: 1000px;
	margin: 0px auto;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}

/* User name and log out */
#header div {
	float: right;
}

#header div span {
	color: #424242;
	padding: 2px 15px 0px 2px; /* Top right left bottom*/
	text-align: right;
	text-decoration: none;
	display: block;
}

#header div a {
	padding: 3px 15px 0px 3px; /* Top right left bottom*/
	text-align: right;
	color: blue;
	font-weight: normal;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

#header div a:hover {
	color: red;
}

#layoutselector {
	padding: 2px 10px 0px 2px; /* Top right left bottom*/
	text-align: right;
	color: #FFC125;
	text-decoration: none;
	display: block;
}

/*--- Body and content ---*/
body {
	background-color: #1C1C1C;
	font: 12px verdana, arial, helvetica, sans-serif;
}

.content {
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	width: 1000px;
	min-height: 600px;
	margin: 10px auto;
	background-color: white;
	overflow: auto;
}

#content ul.ui-widget-header {
	border-color: #4297D7 #4297D7 #7BB642;
	border-width: 1px 1px 4px;
}

.ui-state-highlight {
	vertical-align: top;
	word-wrap: break-word;
}

/*--- jQuery tabs ---*/
.tab {
	font: 12px verdana, arial, helvetica, sans-serif;
	border-style: none;
	overflow: visible;
}

.ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

/*--- Inventory and user entry ---*/
table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-collapse: collapse;
}

/*--- jQuery datatable ---*/
.dataTables_wrapper {
	overflow: auto;
	width: auto;
	margin: 10px auto;
}

/*** Show X entries ***/
.dataTables_length {
	width: 40%;
	float: left;
	padding: 10px 20px;
	text-align: left;
}

/*** Search ***/
.dataTables_filter {
	width: 40%;
	margin: 10px 0px;
	display: block;
	float: right;
	text-align: right;
}

.tab input,select {
	font: 12px verdana, arial, helvetica, sans-serif;
	border: solid 1px;
	padding: 4px;
}

.sorting,.sorting_asc,.sorting_desc {
	background: none;
}

/*** Showing X to X of X entries ***/
.dataTables_info {
	padding: 10px 20px;
	width: 40%;
	float: left;
}

/*** < > buttons ***/
.paginate_disabled_previous,.paginate_enabled_previous,.paginate_disabled_next,.paginate_enabled_next
	{
	height: 19px;
	width: 19px;
	margin-left: 2px;
	float: left;
}

/*** Table ***/
.datatable {
	width: 100%;
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-collapse: collapse;
	display: inline-table;
}

/*** Row color (odd) ***/
.datatable tr.odd {
	background-color: white;
}

.datatable tr.odd td.sorting_1 {
	background-color: white;
}

/*** Row color (even) ***/
.datatable tr.even {
	background-color: white;
}

.datatable tr.even td.sorting_1 {
	background-color: white;
}

.datatable a {
	text-decoration: none;
	color: blue;
	cursor: pointer;
}

.datatable a:hover {
	color: red;
}

/*--- Superfish menu ---*/
.sf-menu {
	background : none repeat scroll 0 0 #2191C0;
	border :1px solid #f5f5f5;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.sf-menu a {
	color: white;
	padding: 10px 25px;
	font-weight: bold;
}

.sf-sub-indicator{
	right:0;
}

.sf-shadow ul {
	padding: 0px;
}

.sf-menu li:hover, .sf-menu li.sfHover {
	background: #79C9EC;
}

/*--- Generic tags ---*/
p {
	word-wrap: break-word;
}

a {
	cursor: pointer;
	color: blue;
}

th {
	font: bold 12px verdana, arial, helvetica, sans-serif;
	border-width: 1px;
	padding: 8px 0px;
	min-width: 50px;
	border-style: solid;
	vertical-align: middle;
	text-align: center;
}

td {
	font: 12px verdana, arial, helvetica, sans-serif;
	color: #424242;
	padding: 8px 0px;
	border-width: 1px;
	border-style: solid;
	vertical-align: middle;
	text-align: center;
}

fieldset {
	margin-bottom: 5px;
	border-width: 1px 0 0 0;
	border-style: solid none none none;
}

label {
	color: #424242;
	display: inline-block;
	line-height: 1.5;
	vertical-align: top;
	width: 140px;
}

legend {
	font: 12px verdana, arial, helvetica, sans-serif;
	color: #424242;
	font-weight: bold;
	padding: 10px 15px;
}

ol {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	padding: 5px 5px 5px 20px;
	margin: 0;
}

input,textarea,select {
	font: 12px verdana, arial, helvetica, sans-serif;
	border: solid 1px;
	padding: 5px;
	display: inline-table;
}

table a {
	font: 12px verdana, arial, helvetica, sans-serif;
	text-decoration: none;
	color: blue;
	cursor: pointer;
}

table a:hover {
	color: red;
}