/*

This file is no longer used.

Styles for the navigation area and some other general styles.

Some of this came from:
	template: Artificial Intelligence
	author: luka cvrk (www.solucija.com)
*/

.middle{ font: normal 1em Tahoma, Verdana, Arial, Helvetica, Sans-Serif; }

/* this overlaps the BlueBack class in style.css */
.BlueBack{
	font: bold .9em Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	color:#003399;
}

.White{
	font: bold .9em Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	color:#FFFFFF;
}

/* LINKS AND HEADINGS STYLING */

a { color: #546F92; background: inherit; }
a:hover { color: #808080; background: inherit; }
h1  { font: bold 2em "Trebuchet MS", Helvetica, Sans-Serif; margin: 0; color: #000000; background-color:transparent; }
h2  { font: bold 1.4em "Trebuchet MS", Helvetica, Sans-Serif; }
/* h3 { clear: both; font-size: 1.1em; color: #000; background: #fff url(images/h3bg.gif) no-repeat center left; padding: 0 14px; margin: 0;} */
h3 { clear: both; font-size: 1.1em; color: #000; background-color: #fff; padding: 0 14px; margin: 0;}
.blue { color: #546F92; background: inherit; }
.image { float: left; border: 2px solid #e2e2e2; padding: 3px; margin: 0 15px 10px 0; }
.no-border {border:0;}

.inner_table{
	/*border-collapse:collapse;*/
	border: 3px;
	/* background-color: green; */
	margin-left : 15px;
  margin-right : 0px;
  margin-top : 0px;
}

td.BorderMe { border:1px dotted #CCC; }

tr.indent td { padding:0px 0 0px 10px; }

.none { display:none; }


/* LEFT VERTICAL MENU/Navigation area */

#nav TD{
  white-space: nowrap;
  vertical-align : middle;
}

#menu_level1 {
	/* float: left; */
	color: white;  /* #3F5B7F; */
	/* background: #C2CEDE; */
	font-weight: bold;
	font-size:12px;
	width: 100%;
	/* height:100%; */
	padding: 0px 5px 0px 0px;
	border-bottom: 1px solid white;
}
	/* menu_level1 rows are not links or lists, they are collapseable sections...
	#menu_level1 li { list-style: none; }
	#menu_level1 a:link,a:visited {
		display: block;
		color: #3F5B7F; font-weight: bold; background: #C2CEDE; width: 100%;	height:100%; padding: 0px; font-weight: bold;
		text-decoration: none;
	}
	#menu_level1 a:hover { background: #9EB1C9 ; color: #fff; text-decoration: underline; }
	*/

#menu_level2 {
	/* float: left; */
	color: white;  /* #3F5B7F; */
	/* background: #BDBDBD ; */
	font-weight: bold;
	font-size: 11px;
	padding: 0px 5px 0px 3px;
	border-bottom: 1px solid white;
}
	/* menu_level2 rows are not links or lists, they are collapseable sections...
	#menu_level2 li { list-style: none; }
	#menu_level2 a:link, a:visited {
		display: block;
		color: #3F5B7F; font-weight: bold; background: #BDBDBD;
		width: 100%;
		height:100%;
		padding: 0px 5px 0px 15px;
		text-decoration: none;
	}
	#menu_level2 a img { border: 0 none; }
	#menu_level2 a:hover { background: #999999; color: #fff;  }
	#menu_level2 a.current { background: #999999; color: #fff;  }
	#menu_level2.no-link {  }
	*/

#menu_level3 {
	/* float: left; */
	color: #3F5B7F;
	font-weight: bold;
	/* background: #CCCCCC ; */
	border-bottom: 1px solid #fff;
	font-size:11px;
	padding: 0px 5px 0px 15px;
	/* width: 100%; */
}
	/* #menu_level3 li { list-style: none; } */
	#menu_level3 a:link, a:visited {
		display: block;
		/* color: #3F5B7F; width: 110px; font-weight: bold; background: #CCCCCC; */
		/* height:100%; */
		text-decoration: none;
	}
	#menu_level3 a img { border: 0 none; }
	#menu_level3 a:hover { background: #999999; color: #fff;  }
	/* #menu_level3 a.current { background: #999999; color: #fff; } */
	#menu_level3.CurrentMenuItem { background: #FFFFFF ; }

