/*
Styles for the navigation area and some other general styles.

Some of this came from:
	template: Artificial Intelligence
	author: luka cvrk (www.solucija.com)
*/

body {
	margin: 0;
	padding: 10px;
	background: #fff url(images/bg.gif) repeat-x;
	font: normal 12px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	line-height: 1.6em;
	color: #333;
}

.middle{ font: normal 1em Tahoma, Verdana, Arial, Helvetica, Sans-Serif; }

/* this overlaps the BlueBack class in style.css */
.BlueBack{
	font: bold .9em Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	color:#003399;
}

.White{
	font: bold .9em Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	color:#FFFFFF;
}

/* LINKS AND HEADINGS STYLING */

a { color: #546F92; background: inherit; }
a:hover { color: #808080; background: inherit; }
h1  { font: bold 2em "Trebuchet MS", Helvetica, Sans-Serif; margin: 0; color: #000000; background-color:transparent; }
h2  { font: bold 1.4em "Trebuchet MS", Helvetica, Sans-Serif; }
h3 { clear: both; font-size: 1.1em; color: #000; background: #fff url(images/h3bg.gif) no-repeat center left; padding: 0 14px; margin: 0;}
.blue { color: #546F92; background: inherit; }
.image { float: left; border: 2px solid #e2e2e2; padding: 3px; margin: 0 15px 10px 0; }
.no-border {border:0;}

.inner_table{
	/*border-collapse:collapse;*/
	border: 3px;
	/* background-color: green; */
	margin-left : 15px;
  margin-right : 0px;
  margin-top : 0px;
}

td.BorderMe { border:1px dotted #CCC; }

tr.indent td { padding:0px 0 0px 10px; }

.none { display:none; }


/* LEFT VERTICAL MENU/Navigation area */

#menu_level1 {
	float: left;
	color: #3F5B7F;
	background: #C2CEDE;
	font-weight: bold;
	font-size:12px;
	width: 100%;
	height:100%;
	padding: 0px 5px 0px 0px;
}
	/* menu_level1 rows are not links or lists, they are collapseable sections...
	#menu_level1 li { list-style: none; }
	#menu_level1 a:link,a:visited {
		display: block;
		color: #3F5B7F; font-weight: bold; background: #C2CEDE; width: 100%;	height:100%; padding: 0px; font-weight: bold;
		text-decoration: none;
	}
	#menu_level1 a:hover { background: #9EB1C9 ; color: #fff; text-decoration: underline; }
	*/

#menu_level2 {
	float: left;
	color: #3F5B7F;
	font-weight: bold;
	background: #BDBDBD ;
	font-size: 11px;
	padding: 0px 5px 0px 3px;
	border-bottom: 1px solid #fff;
}
	/* menu_level2 rows are not links or lists, they are collapseable sections...
	#menu_level2 li { list-style: none; }
	#menu_level2 a:link, a:visited {
		display: block;
		color: #3F5B7F; font-weight: bold; background: #BDBDBD;
		width: 100%;
		height:100%;
		padding: 0px 5px 0px 15px;
		text-decoration: none;
	}
	#menu_level2 a img { border: 0 none; }
	#menu_level2 a:hover { background: #999999; color: #fff;  }
	#menu_level2 a.current { background: #999999; color: #fff;  }
	#menu_level2.no-link {  }
	*/

#menu_level3 {
	float: left;
	color: #3F5B7F;
	font-weight: bold;
	background: #CCCCCC ;
	border-bottom: 1px solid #fff;
	font-size:11px;
	padding: 0px 5px 0px 15px;
	width: 100%;
}
	/* #menu_level3 li { list-style: none; } */
	#menu_level3 a:link, a:visited {
		display: block;
		/* color: #3F5B7F; width: 110px; font-weight: bold; background: #CCCCCC; */
		height:100%;
		text-decoration: none;
	}
	#menu_level3 a img { border: 0 none; }
	#menu_level3 a:hover { background: #999999; color: #fff;  }
	/* #menu_level3 a.current { background: #999999; color: #fff; } */
	#menu_level3.current { background: #FFFFFF ; }

/* CONTENT WRAPPER */
/* #main { width: 900px; margin: 25px auto 0 auto; } */

/* TOP LEFT LOGO - not used...
#logo { float: left; }
	#logo h1 { color: #FFFFFF;  background: inherit;}
	#logo h3 { color: #999999;  background: inherit;}
*/

/* .main_table { border-collapse:collapse; } */

/* TOP RIGHT HORIZONTAL MENU - not used...
#menu {
	float: right;
	/*background: #fff url(images/barul.gif) no-repeat bottom right; *//*
	color: #808080;
	padding: 18px 1px 11px 0;
	margin: 0;
}
	#menu li {
		padding: 14px 18px 14px 18px;
		color: #444;
		/*background: #fff url(images/bar.gif) no-repeat bottom left; *//*
		display: inline;
	}
	#menu li.active {
		/*background: #fff url(images/baractive.gif) no-repeat bottom left; *//*
		color: #FFFF00;
		font-weight: bold;
		padding: 14px 18px 14px 18px;
		margin: 0 1px 0 0;
	}
	#menu li a {
		/*background: #f8f8f8; *//*
		color: #808080;
		text-decoration: none; font: bold 2em "Trebuchet MS", Helvetica, Sans-Serif; margin: 0; color: #fff; background-color:transparent;
	}
	#menu li a:hover {
		color: #000;
		/*background: #f8f8f8; *//*
	}
	.key { text-decoration: underline; } /* ACCESKEY UNDERLINED LETTER */

/* LEFT INTRO SIDE - not used
#intro_left {
	clear: left;
	float: left;
	width: 250px;
	background: #8D9CAF url(images/leftintrobg.gif) repeat-x;
	color: #E5EAF2;
	margin: 0 0 1px 0;
}
	#intro_left a { color: #fff; background: inherit; }
	#intro_left p { padding: 14px 15px; margin: 0; }
*/

/* RIGHT INTRO SIDE - not used...
#intro_right {
	float: right;
	width: 340px;
	padding: 25px 280px 0 20px;
	background: #BCCEDA url(images/intro.jpg) no-repeat;
	color: #547592;
	margin: 0 0 6px 0;
	height: 174px;
	border: 2px solid #e2e2e2;
}
	#intro_right h1 { margin: 0 0 20px 0; }
	#intro_right .white { color: #FFF; background-color:transparent; }
*/

/* LEFT SIDE - not used...
#left {
	float: left;
	width: 250px;
}
	.box {
		padding: 4px 15px;
		border: 1px solid #ccc;
		margin: 0 0 10px 0;
	}
	.note {
		padding: 15px 15px 20px 100px;
		border: 1px solid #CFCB66;
		margin: 0 0 5px 0;
		background: #FFFFAD url(images/package.gif) no-repeat;
		color: #585616;
	}
*/

/* RIGHT SIDE - not used...
#right {
	float: right;
	width: 643px;
}
	.leftcol {
		float: left;
		padding: 12px 15px;
		width: 285px;
		border:#ccc 1px solid;
		text-align: justify;
		margin: 0 0 10px 0;
	}
	.rightcol {
		float: right;
		padding: 10px 15px;
		width: 285px;
		border:#ccc 1px solid;
		margin: 0 0 10px 0;
		}
	.special {
		clear: both;
		margin:0px 0 20px 0;
		padding: 5px 20px;
		border: 1px solid #ccc;
		background: #eee;
		color: #444;
	}
*/

/* FOOTER - not used...
#footer { clear: both; padding: 5px; border-top: 1px solid #ccc; }
*/
