#headingTable {
	margin: 0 20px 10px 20px;
	/* background: #FFF url(./images/top.jpg) repeat-x top; */
	background-color: #002432;
}

/*
#top {
	margin: 0 auto 10px auto;
	padding: 0;
	color: #666;
	background: #FFF url(./images/top.jpg) repeat-x top;
	background-color: #002432;
	height: 65px;
}
*/

#xcatImage {
	/* float: left; */
	margin: 5px;
	}

.MenuRow {
	border-left: 2px solid white;
	border-right: 2px solid white;
}

#mainNav {
	/* position: absolute;
	float: left; */
	list-style: none;
	margin: 0px;
}

#mainNav li {
	float: left;
	font: .8em Verdana, Arial, Sans-Serif;
	line-height: 2.5em;
	font-weight: bold;
	/* border: 1px solid white; */
}

.CurrentMenuItem {
  display: block;
  padding: 0 2em;
  background: #09334b;
  color: #fafafa;
}

.CurrentMenuItemTop {
	border-left: 2px solid white;
	border-top: 2px solid white;
	border-right: 2px solid white;
	/* border-bottom: 2px solid #09334b; */
}

.MenuItemTop { border-bottom: 2px solid white; }
.MenuItem { /* border-bottom: 2px solid #002432; */ }

#mainNav a {
  display: block;
  float: left; /* IE/Mac 5.2 Fix */
  padding: 0 2em;
  text-decoration: none;
  color: #a1a1a1;
  border-left: 1px solid #273942;
  cursor: pointer;
}

/* IE/Win 5.x Fix */
* html #mainNav a {
  width: 1px;
}

#mainNav a:hover {
  background: #09334b;
  color: #fafafa;
}

/*
body.home #mainNav a#home, body.tutorials #mainNav a#tutorials {
  background: #09334b;
  color: #fafafa;
  cursor: default;
}
*/

#mainNav li a.active {
  color: #fafafa;

}

/*
div#content {
  background-color : #fcfaeb;
  position: absolute;
  left: 120px;
  top: 180px;
}
*/

#disclaimer {
 font-weight: bold;
 font-size: 9pt;
 color: red;
 text-align: center;
 margin: 5px;
}

.ContentForm { margin: 10px 2px 15px 2px; }

BODY {
	font-size : 10pt;
	font-family : Arial;
	margin: 0;
	padding: 10px;
	background: url(images/background.gif) repeat-y;
	/* background: black; */
	font: normal 12px Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
	line-height: 1.6em;
	color: white;  /* #333; */
}

INPUT {vertical-align : middle; font-size : 8pt; font-family : sans-serif; font-weight : bold;}
SELECT {vertical-align : middle; font-size : 8pt; font-family : sans-serif; font-weight : bold;}
TEXTAREA {vertical-align : middle; font-size : 8pt; font-family : sans-serif; font-weight : bold;}
TABLE {font-size : 10pt; font-family : Arial;}
/* pre { padding: 0px; margin: 0px; } */

.TableHeader { color: black; background-color : #fffdb0; font-weight : bold; font-size : 9pt; white-space: nowrap; }
.TableRow { color: black; background-color : #b3c2d9; font-size : 9pt; white-space: nowrap; } /* #d8dff1 */
.Info {color : blue;}
.Error {font-weight : bold; color : red;}
.Trace {color: gray;  padding: 0px; margin: 0px;}

.BasicHeading {background-color : #8CA4D9;}
.BlueBack {background-color : #C2CEDE; /* #8CA4D9; */ }
.LightBlueBack {background-color : #bfccea;}
.FilterBox {background-color : #e8e8e8;}
.LightGrayBack {background-color : #e8e8e8;}
.CreamHeading { font-weight : bolder; background-color : #fffdb0; }
.LightCreamHeading { font-weight : bolder; background-color : #fffece; }
.SlateBackground { background-color : #95aece; }
.DarkSlateBackground { background-color : #698ebc; }

.Middle {vertical-align : middle;}
.Center {text-align : center;}
.YellowBackground {background-color : yellow;}
.SmallText {font-size : small;}
.XSmallText {font-size : x-small;}
.XXSmallText {font-size : xx-small;}
.SmallTextarea {font-size:9pt; font-family:Arial;}
.Font8 {font-size : 8pt;}
.Boxed { border: 1px solid gray; }
.NoMargin { margin: 0px; }
.NoPadding { padding: 0px; margin: 0px; border: 0px none white; }
.Hidden { visibility : hidden ;}
.Txtfld {font-size : 8pt; font-family : sans-serif; font-weight : bold;}

/*
.but {
  background-color: #3F5B7F;
  padding: 0px;
  margin: 0px;
}
*/


a.button {
    background: transparent url('./images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
    cursor: pointer;
}

a.button span {
    background: transparent url('./images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}
