Source: perl-xcat
Section: libs
Priority: extra
Maintainer: Isaac Freeman <ifreeman@us.ibm.com>
Build-Depends: debhelper (>= 5), libdbi-perl
Standards-Version: 3.7.2

Package: perl-xcat
Architecture: all
Depends: ${perl:Depends}, libio-socket-ssl-perl, libxml-simple-perl, libstorable-perl, libsys-syslog-perl, libsnmp-perl, libdbi-perl 
Description: xCAT perl libraries
 Provides perl xCAT libraries for core functionality.  Required for all xCAT installations.
 Includes xCAT::Table, xCAT::NodeRange, among others.

