
/* .FormTable { color: black; background-color : #CCCCCC; } */

#dshForm { font-size: 8pt; }

#inner_table {
 margin-left: 15px;
 margin-right: 10px;
 /* background-color: red; */
}

#cmdDialog {
 margin: 0px 10px 20px 10px;	/* for some reason the containing dialog cuts off the right 30px */
 padding: 0px;
 font-family: Sans-Serif;
 font-size: 7pt;
}