Summary: Kit <<<INSERT_kitbasename_HERE>>> Component <<<INSERT_kitcomponent_basename_HERE>>> metapackage
Name: <<<INSERT_kitcomponent_basename_HERE>>>
Version: <<<INSERT_kitcomponent_version_HERE>>>
Release: <<<INSERT_kitcomponent_release_HERE>>>
Group: Applications/System
License: <<<INSERT_kit_license_HERE>>>
Vendor: <<<INSERT_vendor_HERE>>>
Packager: <<<INSERT_packager_HERE>>>
URL: <<<INSERT_url_HERE>>>
BuildArch: noarch
Requires:   <<<INSERT_kitcomponent_ospkgdeps_HERE>>>,<<<INSERT_kitcomponent_kitpkgdeps_HERE>>>,<<<INSERT_kitcomponent_kitcompdeps_HERE>>>

<<<INSERT_kitcomponent_sourcetar_HERE>>>
BuildRoot: /var/tmp/%{name}-%{version}-%{release}-root

%description
<<<INSERT_kitcomponent_desc_HERE>>>

%prep
<<<INSERT_kitcomponent_setup_HERE>>>
%build
%install
<<<INSERT_kitcomponent_non_native_pkgs_HERE>>>


%clean
rm -rf $RPM_BUILD_ROOT


%changelog

%pre
<<<INSERT_kitcomponent_preinstall_script_HERE>>>
   

<<<INSERT_kitcomponent_preupgrade_script_HERE>>>


%post
<<<INSERT_kitcomponent_postinstall_script_HERE>>>

<<<INSERT_kitcomponent_postupgrade_script_HERE>>>


%preun
<<<INSERT_kitcomponent_preuninstall_script_HERE>>>

%files
%defattr(-,root,root)
<<<INSERT_kitcomponent_files_HERE>>>


%postun
<<<INSERT_kitcomponent_postuninstall_script_HERE>>>

