Source: xcat-client
Section: admin
Priority: extra
Maintainer: xCAT <xcat-user@lists.sourceforge.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: xcat-client
Architecture: all
Depends: ${perl:Depends}, nmap, perl-xCAT
Description: Core executables and data of the xCAT management project
 xCAT-client provides the fundamental xCAT commands (chtab, chnode, rpower, etc) helpful in administrating systems at scale, with particular attention paid to large HPC clusters.
