Source: xcat-client
Section: admin
Priority: extra
Maintainer: xCAT <xcat-user@lists.sourceforge.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4

Package: xcat-client
Architecture: all
Depends: ${perl:Depends}, perl-xcat (>= 2.13-snap000000000000)
Recommends: libsort-versions-perl, nmap
Description: Core executables and data of the xCAT management project
 xCAT-client provides the fundamental xCAT commands (chtab, chnode, rpower,
 etc) helpful in administrating systems at scale, with particular attention
 paid to large HPC clusters.
