Source: xcat-openstack-baremetal
Section: admin
Priority: extra
Maintainer: xCAT <xcat-user@lists.sourceforge.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: https://xcat.org/

Package: xcat-openstack-baremetal
Architecture: all
Depends: xcat-client
Description: Executables and data of xCAT baremetal driver for OpenStack
