# Loadable drivers keep the kernel usable across several server generations.
CONFIG_MODULES=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_OVERLAY_FS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_ZSTD=y
CONFIG_MODULE_UNLOAD=y

# PCI and hotplug
CONFIG_PCI=y
CONFIG_PCIEPORTBUS=y
CONFIG_PCI_MSI=y
CONFIG_PCI_IOV=y
CONFIG_HOTPLUG_PCI=y
CONFIG_HOTPLUG_PCI_ACPI=y

# Storage controllers and transports
CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_SCSI_SAS_ATTRS=m
CONFIG_SCSI_SAS_LIBSAS=m
CONFIG_SCSI_MPT3SAS=m
CONFIG_SCSI_MPI3MR=m
CONFIG_SCSI_HPSA=m
CONFIG_SCSI_SMARTPQI=m
CONFIG_MEGARAID_SAS=m
CONFIG_SCSI_AACRAID=m
CONFIG_SCSI_ARCMSR=m
CONFIG_SCSI_3W_9XXX=m
CONFIG_SCSI_3W_SAS=m
CONFIG_SCSI_ISCSI_ATTRS=m
CONFIG_ISCSI_TCP=m
CONFIG_ATA=y
CONFIG_SATA_AHCI=y
CONFIG_ATA_PIIX=y
CONFIG_ATA_GENERIC=m
CONFIG_PATA_ACPI=m
CONFIG_PATA_AMD=m
CONFIG_PATA_ATIIXP=m
CONFIG_PATA_OLDPIIX=m
CONFIG_PATA_MPIIX=m
CONFIG_PATA_SIS=m
CONFIG_PATA_VIA=m
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_MULTIPATH=y
CONFIG_NVME_FABRICS=m
CONFIG_NVME_RDMA=m
CONFIG_NVME_FC=m
CONFIG_NVME_TCP=m

# Ethernet adapters common in HPC and enterprise servers
CONFIG_E1000=y
CONFIG_E1000E=m
CONFIG_IGB=m
CONFIG_IGBVF=m
CONFIG_IGC=m
CONFIG_IXGBE=m
CONFIG_IXGBEVF=m
CONFIG_I40E=m
CONFIG_IAVF=m
CONFIG_ICE=m
CONFIG_TIGON3=m
CONFIG_BNX2=m
CONFIG_BNX2X=m
CONFIG_BNXT=m
CONFIG_MLX4_CORE=m
CONFIG_MLX4_EN=m
CONFIG_MLX5_CORE=m
CONFIG_QED=m
CONFIG_QEDE=m
CONFIG_CHELSIO_T4=m
CONFIG_ENA_ETHERNET=m
CONFIG_AQTION=m

# Link aggregation and tagged provisioning networks
CONFIG_BONDING=m
CONFIG_VLAN_8021Q=m
CONFIG_BRIDGE=m

# RDMA core and adapters
CONFIG_INFINIBAND=m
CONFIG_INFINIBAND_USER_MAD=m
CONFIG_INFINIBAND_USER_ACCESS=m
CONFIG_INFINIBAND_ADDR_TRANS=y
CONFIG_INFINIBAND_IPOIB=m
CONFIG_MLX4_INFINIBAND=m
CONFIG_MLX5_INFINIBAND=m
CONFIG_INFINIBAND_BNXT_RE=m
CONFIG_INFINIBAND_CXGB4=m
CONFIG_INFINIBAND_IRDMA=m
CONFIG_INFINIBAND_QEDR=m
CONFIG_RDMA_RXE=m
CONFIG_RDMA_SIW=m

# BMC access
CONFIG_IPMI_HANDLER=m
CONFIG_IPMI_DMI_DECODE=y
CONFIG_IPMI_DEVICE_INTERFACE=m
CONFIG_IPMI_SI=m
CONFIG_IPMI_SSIF=m
CONFIG_IPMI_WATCHDOG=m
CONFIG_IPMI_POWEROFF=m

# Memory error reporting
CONFIG_EDAC=y
CONFIG_EDAC_GHES=y
CONFIG_EDAC_DECODE_MCE=m

# Removable media and common service filesystems
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=m
CONFIG_USB_XHCI_PCI=m
CONFIG_USB_EHCI_HCD=m
CONFIG_USB_EHCI_PCI=m
CONFIG_USB_UHCI_HCD=m
CONFIG_USB_OHCI_HCD=m
CONFIG_USB_OHCI_HCD_PCI=m
CONFIG_USB_STORAGE=m
CONFIG_USB_UAS=m
CONFIG_EXT4_FS=y
CONFIG_VFAT_FS=y
CONFIG_XFS_FS=m
CONFIG_BTRFS_FS=m
CONFIG_NTFS3_FS=m
